openapi: 3.2.0
info:
  title: Silverflow Create Charges API
  version: 1.417.0
  contact:
    name: API Support
    email: support@silverflow.com
  license:
    name: Commercial
  description: 'Operations tagged Create Charges across 2 of this provider''s published API definitions: silverflow-openapi.yml, silverflow-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eu-west-1.api.silverflow.com/v1
  description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
- url: https://us-east-2.api.silverflow.com/v1
  description: Production URL for North America
- url: https://eu-west-1.api-sbx.silverflow.com/v1
  description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
security:
- ApiKey: []
- BearerToken: []
tags:
- name: Create Charges
  description: Create different types of charges.
paths:
  /charges:
    post:
      operationId: createCharge
      summary: Create Charge
      description: 'Create a new charge.


        Optionally providing a 3DS result is supported in case 3DS was done using the

        [3DS Authentication endpoint](#operation/create3dsAuthentication) or with an external party.


        Diners support is <a class="experimental-tag-link" href="https://docs.silverflow.com/guides/api-lifecycle#tag/EXPERIMENTAL-Tag"><span class="tag experimental-tag">EXPERIMENTAL</span></a>.


        Requires the `charges:Create` permission.

        '
      tags:
      - Create Charges
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        description: 'Create a charge.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRequest'
            examples:
              moto:
                $ref: '#/components/examples/examples-Request'
              3dsprovided:
                $ref: '#/components/examples/3ds-provided_Request'
              avs:
                $ref: '#/components/examples/avs_Request'
              recurring:
                $ref: '#/components/examples/recurring_Request'
              reservation:
                $ref: '#/components/examples/reservation_Request'
              googlePay:
                $ref: '#/components/examples/google-pay_Request'
              networkToken:
                $ref: '#/components/examples/network-token_Request'
              networkToken3ds:
                $ref: '#/components/examples/network-token-3ds_Request'
      responses:
        '201':
          description: The created charge
          headers:
            Location:
              description: The URL of the newly created charge
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeResponse'
              examples:
                moto:
                  $ref: '#/components/examples/moto_Response'
                3dsprovided:
                  $ref: '#/components/examples/3ds-provided_Response'
                avs:
                  $ref: '#/components/examples/avs_Response'
                recurring:
                  $ref: '#/components/examples/recurring_Response'
                reservation:
                  $ref: '#/components/examples/reservation_Response'
                googlePay:
                  $ref: '#/components/examples/google-pay_Response'
                networkToken:
                  $ref: '#/components/examples/network-token_Response'
                networkToken3ds:
                  $ref: '#/components/examples/network-token-3ds_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/openapi_components-schemas-InvalidInputErrorDetails'
                - $ref: '#/components/schemas/schemas-InvalidRequestErrorDetails'
              examples:
                InvalidInputErrorExample:
                  $ref: '#/components/examples/components-examples-InvalidInputErrorExample'
                InvalidRequestErrorExample:
                  $ref: '#/components/examples/InvalidRequestErrorExample'
        '401':
          $ref: '#/components/responses/openapi_components-responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/components-responses-ForbiddenError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ReferencedEntityNotFoundErrorDetails'
                - $ref: '#/components/schemas/CannotDetermineCardNetworkErrorDetails'
                - $ref: '#/components/schemas/schemas-IncompatibleCardNetworkErrorDetails'
                - $ref: '#/components/schemas/BlockedMerchantAcceptorErrorDetails'
                - $ref: '#/components/schemas/NonMatchingIdempotentRequestErrorDetails'
                - $ref: '#/components/schemas/UnexpectedMessageSystem'
                - $ref: '#/components/schemas/IncompatibleCardNetworkForOperation'
                - $ref: '#/components/schemas/IncompatibleCardErrorDetails'
                - $ref: '#/components/schemas/IdempotentRequestIsStillBeingProcessedErrorDetails'
                - $ref: '#/components/schemas/UnexpectedCurrencyErrorDetails'
              examples:
                ReferencedEntityNotFoundErrorExample:
                  $ref: '#/components/examples/components-examples-ReferencedEntityNotFoundErrorExample'
                CannotDetermineCardNetworkErrorExample:
                  $ref: '#/components/examples/CannotDetermineCardNetworkErrorExample'
                IncompatibleCardNetworkErrorExample:
                  $ref: '#/components/examples/examples-IncompatibleCardNetworkErrorExample'
                BlockedMerchantAcceptorErrorExample:
                  $ref: '#/components/examples/BlockedMerchantAcceptorErrorExample'
                BlockedBinErrorExample:
                  $ref: '#/components/examples/BlockedBinErrorExample'
                NonMatchingIdempontentRequestErrorExample:
                  $ref: '#/components/examples/NonMatchingIdempontentRequestErrorExample'
                UnexpectedMessageSystemExample:
                  $ref: '#/components/examples/UnexpectedMessageSystemExample'
                IncompatibleCardNetworkForOperationErrorExample:
                  $ref: '#/components/examples/IncompatibleCardNetworkForOperationExample'
                IncompatibleCardErrorDetails:
                  $ref: '#/components/examples/IncompatibleCardErrorExample'
                IdempotentRequestIsStillBeingProcessedErrorExample:
                  $ref: '#/components/examples/IdempotentRequestIsStillBeingProcessedExample'
                UnexpectedCurrencyErrorDetails:
                  $ref: '#/components/examples/UnexpectedCurrencyErrorExample'
        '429':
          $ref: '#/components/responses/components-responses-TooManyRequestsError'
        '500':
          $ref: '#/components/responses/responses-InternalServerError'
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
  /charges/bep:
    post:
      operationId: createChargeBep
      summary: Create BEP Charge
      description: 'Create a new charge for an existing and complete BEP authentication.

        This will also initiate the [finalization](#operation/finalizeBep) of the BEP authentication flow.


        **From November 22, 2026, if a valid card is not found using `card.number` in the request, the response will be a 409 with type `/silverflow/problems/card/invalid`.**


        Requires `charges:Create` permission.

        '
      tags:
      - Create Charges
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        description: 'Create a charge.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCreateBEPRequest'
      responses:
        '201':
          description: The created charge
          headers:
            Location:
              description: The URL of the newly created Charge
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateBEPResponse'
        '400':
          $ref: '#/components/responses/responses-InvalidInputError'
        '401':
          $ref: '#/components/responses/openapi_components-responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/components-responses-ForbiddenError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ReferencedEntityNotFoundErrorDetails'
                - $ref: '#/components/schemas/IncompatibleAuthenticationStatus'
                - $ref: '#/components/schemas/UnexpectedMessageSystem'
                - $ref: '#/components/schemas/IncompatibleCardNetworkForOperation'
                - $ref: '#/components/schemas/BlockedMerchantAcceptorErrorDetails'
                - $ref: '#/components/schemas/NonMatchingIdempotentRequestErrorDetails'
                - $ref: '#/components/schemas/IdempotentRequestIsStillBeingProcessedErrorDetails'
              examples:
                ReferencedEntityNotFoundErrorExample:
                  $ref: '#/components/examples/components-examples-ReferencedEntityNotFoundErrorExample'
                IncompatibleAuthenticationStatusExample:
                  $ref: '#/components/examples/IncompatibleAuthenticationStatusExample'
                UnexpectedMessageSystemExample:
                  $ref: '#/components/examples/UnexpectedMessageSystemExample'
                IncompatibleCardNetworkForOperationErrorExample:
                  $ref: '#/components/examples/IncompatibleCardNetworkForOperationExample'
                BlockedBinErrorExample:
                  $ref: '#/components/examples/BlockedBinErrorExample'
                NonMatchingIdempotentRequestErrorExample:
                  $ref: '#/components/examples/NonMatchingIdempontentRequestErrorExample'
                IdempotentRequestIsStillBeingProcessedErrorExample:
                  $ref: '#/components/examples/IdempotentRequestIsStillBeingProcessedExample'
        '429':
          $ref: '#/components/responses/components-responses-TooManyRequestsError'
        '500':
          $ref: '#/components/responses/responses-InternalServerError'
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
  /charges/funding:
    post:
      operationId: createChargeFunding
      summary: Create Funding Charge
      description: 'Create a new funding charge. For more information on use-cases, [see here](https://docs.silverflow.com/guides/payouts-and-funding#tag/Funding).


        Visa DMS support is <a class="experimental-tag-link" href="https://docs.silverflow.com/guides/api-lifecycle#tag/EXPERIMENTAL-Tag"><span class="tag experimental-tag">EXPERIMENTAL</span></a>.


        **NOTE**: This endpoint requires configuration on a per client basis and may be subject to additional approvals and implementation with the card schemes. Contact your Silverflow representative before integrating with this endpoint.


        Requires `charges:Create` permission.

        '
      tags:
      - Create Charges
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        description: 'Create a funding charge.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundingChargeRequest'
            examples:
              funding:
                $ref: '#/components/examples/funding_Request'
      responses:
        '201':
          description: The created funding charge
          headers:
            Location:
              description: The URL of the newly created charge
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingChargeResponse'
              examples:
                funding:
                  $ref: '#/components/examples/funding_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/openapi_components-schemas-InvalidInputErrorDetails'
                - $ref: '#/components/schemas/schemas-InvalidRequestErrorDetails'
              examples:
                InvalidInputErrorExample:
                  $ref: '#/components/examples/components-examples-InvalidInputErrorExample'
                InvalidRequestErrorExample:
                  $ref: '#/components/examples/InvalidRequestErrorExample'
        '401':
          $ref: '#/components/responses/openapi_components-responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/components-responses-ForbiddenError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ReferencedEntityNotFoundErrorDetails'
                - $ref: '#/components/schemas/NonMatchingIdempotentRequestErrorDetails'
                - $ref: '#/components/schemas/CannotDetermineCardNetworkErrorDetails'
                - $ref: '#/components/schemas/IncompatibleCardNetworkForOperation'
                - $ref: '#/components/schemas/schemas-IncompatibleCardNetworkErrorDetails'
                - $ref: '#/components/schemas/BlockedMerchantAcceptorErrorDetails'
                - $ref: '#/components/schemas/IncompatibleCardErrorDetails'
                - $ref: '#/components/schemas/IncompatibleMccErrorDetails'
                - $ref: '#/components/schemas/IdempotentRequestIsStillBeingProcessedErrorDetails'
              examples:
                ReferencedEntityNotFoundErrorExample:
                  $ref: '#/components/examples/components-examples-ReferencedEntityNotFoundErrorExample'
                NonMatchingIdempontentRequestErrorExample:
                  $ref: '#/components/examples/NonMatchingIdempontentRequestErrorExample'
                CannotDetermineCardNetworkErrorExample:
                  $ref: '#/components/examples/CannotDetermineCardNetworkErrorExample'
                IncompatibleCardNetworkErrorExample:
                  $ref: '#/components/examples/examples-IncompatibleCardNetworkErrorExample'
                IncompatibleCardNetworkForOperationErrorExample:
                  $ref: '#/components/examples/IncompatibleCardNetworkForOperationExample'
                BlockedMerchantAcceptorErrorExample:
                  $ref: '#/components/examples/BlockedMerchantAcceptorErrorExample'
                BlockedBinErrorExample:
                  $ref: '#/components/examples/BlockedBinErrorExample'
                IncompatibleCardErrorDetails:
                  $ref: '#/components/examples/IncompatibleCardErrorExample'
                IncompatibleMccErrorExample:
                  $ref: '#/components/examples/IncompatibleMccErrorExample'
                IdempotentRequestIsStillBeingProcessedErrorExample:
                  $ref: '#/components/examples/IdempotentRequestIsStillBeingProcessedExample'
        '429':
          $ref: '#/components/responses/components-responses-TooManyRequestsError'
        '500':
          $ref: '#/components/responses/responses-InternalServerError'
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
  /charges/payout:
    post:
      operationId: createChargePayout
      summary: Create Payout Charge
      description: 'Create a new payout charge. For more information on use-cases, [see here](https://docs.silverflow.com/guides/payouts-and-funding#tag/Payouts).


        **NOTE:** This endpoint requires configuration on a per client basis and may be subject to additional approvals and implementation with the card schemes. Contact your Silverflow representative before integrating with this endpoint.


        **Currently only supported for Visa and Mastercard.**


        Requires the `charges:CreatePayout` or `charges:Create` permission.

        '
      tags:
      - Create Charges
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        description: 'Create a charge.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutChargeRequest'
            examples:
              chargePayoutGamingResponse:
                $ref: '#/components/examples/payout_Request'
      responses:
        '201':
          description: The created charge
          headers:
            Location:
              description: The URL of the newly created charge
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutChargeResponse'
              examples:
                chargePayoutGamingResponse:
                  $ref: '#/components/examples/payout_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/openapi_components-schemas-InvalidInputErrorDetails'
                - $ref: '#/components/schemas/schemas-InvalidRequestErrorDetails'
              examples:
                InvalidInputErrorExample:
                  $ref: '#/components/examples/components-examples-InvalidInputErrorExample'
                InvalidRequestErrorExample:
                  $ref: '#/components/examples/InvalidRequestErrorExample'
        '401':
          $ref: '#/components/responses/openapi_components-responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/components-responses-ForbiddenError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ReferencedEntityNotFoundErrorDetails'
                - $ref: '#/components/schemas/CannotDetermineCardNetworkErrorDetails'
                - $ref: '#/components/schemas/BlockedMerchantAcceptorErrorDetails'
                - $ref: '#/components/schemas/NonMatchingIdempotentRequestErrorDetails'
                - $ref: '#/components/schemas/IncompatibleCardNetworkForOperation'
                - $ref: '#/components/schemas/schemas-IncompatibleCardNetworkErrorDetails'
                - $ref: '#/components/schemas/IncompatibleMccErrorDetails'
                - $ref: '#/components/schemas/IncompatibleCardErrorDetails'
                - $ref: '#/components/schemas/IdempotentRequestIsStillBeingProcessedErrorDetails'
              examples:
                ReferencedEntityNotFoundErrorExample:
                  $ref: '#/components/examples/components-examples-ReferencedEntityNotFoundErrorExample'
                CannotDetermineCardNetworkErrorExample:
                  $ref: '#/components/examples/CannotDetermineCardNetworkErrorExample'
                IncompatibleCardNetworkForOperationErrorExample:
                  $ref: '#/components/examples/IncompatibleCardNetworkForOperationExample'
                IncompatibleCardNetworkErrorExample:
                  $ref: '#/components/examples/examples-IncompatibleCardNetworkErrorExample'
                BlockedMerchantAcceptorErrorExample:
                  $ref: '#/components/examples/BlockedMerchantAcceptorErrorExample'
                BlockedBinErrorExample:
                  $ref: '#/components/examples/BlockedBinErrorExample'
                NonMatchingIdempontentRequestErrorExample:
                  $ref: '#/components/examples/NonMatchingIdempontentRequestErrorExample'
                IncompatibleMccErrorExample:
                  $ref: '#/components/examples/IncompatibleMccErrorExample'
                IncompatibleCardErrorDetails:
                  $ref: '#/components/examples/IncompatibleCardErrorExample'
                IdempotentRequestIsStillBeingProcessedErrorExample:
                  $ref: '#/components/examples/IdempotentRequestIsStillBeingProcessedExample'
        '429':
          $ref: '#/components/responses/components-responses-TooManyRequestsError'
        '500':
          $ref: '#/components/responses/responses-InternalServerError'
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
  /charges/pos:
    post:
      operationId: createChargePos
      summary: Create POS Charge
      description: 'Create a new card-present charge.


        Requires one of the following permissions:

        * `charges:Create`

        * `charges:CreatePos`

        '
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      tags:
      - Create Charges
      requestBody:
        description: Create a new POS charge.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCreatePos'
            examples:
              onlinePin:
                $ref: '#/components/examples/online-pin_Request'
              manualEntry:
                $ref: '#/components/examples/manual-entry_Request'
      responses:
        '201':
          description: The created charge
          headers:
            Location:
              description: The URL of the newly created charge
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreatePosResponse'
              examples:
                onlinePin:
                  $ref: '#/components/examples/examples-Response'
                manualEntry:
                  $ref: '#/components/examples/manual-entry_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/openapi_components-schemas-InvalidInputErrorDetails'
                - $ref: '#/components/schemas/schemas-InvalidRequestErrorDetails'
              examples:
                InvalidInputErrorExample:
                  $ref: '#/components/examples/components-examples-InvalidInputErrorExample'
                InvalidRequestErrorExample:
                  $ref: '#/components/examples/InvalidRequestErrorExample'
        '401':
          $ref: '#/components/responses/openapi_components-responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/components-responses-ForbiddenError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ReferencedEntityNotFoundErrorDetails'
                - $ref: '#/components/schemas/CannotDetermineCardNetworkErrorDetails'
                - $ref: '#/components/schemas/IncompatibleCardNetworkForOperation'
                - $ref: '#/components/schemas/schemas-IncompatibleCardNetworkErrorDetails'
                - $ref: '#/components/schemas/BlockedMerchantAcceptorErrorDetails'
                - $ref: '#/components/schemas/NonMatchingIdempotentRequestErrorDetails'
                - $ref: '#/components/schemas/MissingPosAddressErrorDetails'
                - $ref: '#/components/schemas/UnexpectedMessageSystem'
                - $ref: '#/components/schemas/IncompatibleCardErrorDetails'
                - $ref: '#/components/schemas/IdempotentRequestIsStillBeingProcessedErrorDetails'
                - $ref: '#/components/schemas/UnexpectedCurrencyErrorDetails'
              examples:
                ReferencedEntityNotFoundErrorExample:
                  $ref: '#/components/examples/components-examples-ReferencedEntityNotFoundErrorExample'
                CannotDetermineCardNetworkErrorExample:
                  $ref: '#/components/examples/CannotDetermineCardNetworkErrorExample'
                IncompatibleCardNetworkForOperationErrorExample:
                  $ref: '#/components/examples/IncompatibleCardNetworkForOperationExample'
                IncompatibleCardNetworkErrorExample:
                  $ref: '#/components/examples/examples-IncompatibleCardNetworkErrorExample'
                BlockedMerchantAcceptorErrorExample:
                  $ref: '#/components/examples/BlockedMerchantAcceptorErrorExample'
                BlockedBinErrorExample:
                  $ref: '#/components/examples/BlockedBinErrorExample'
                NonMatchingIdempontentRequestErrorExample:
                  $ref: '#/components/examples/NonMatchingIdempontentRequestErrorExample'
                MissingPosAddressProblemExample:
                  $ref: '#/components/examples/MissingPosAddressErrorExample'
                UnexpectedMessageSystemExample:
                  $ref: '#/components/examples/UnexpectedMessageSystemExample'
                IncompatibleCardErrorDetails:
                  $ref: '#/components/examples/IncompatibleCardErrorExample'
                IdempotentRequestIsStillBeingProcessedErrorExample:
                  $ref: '#/components/examples/IdempotentRequestIsStillBeingProcessedExample'
                UnexpectedCurrencyErrorDetails:
                  $ref: '#/components/examples/UnexpectedCurrencyErrorExample'
        '429':
          $ref: '#/components/responses/components-responses-TooManyRequestsError'
        '500':
          $ref: '#/components/responses/responses-InternalServerError'
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
  /charges/atm:
    post:
      operationId: createChargeAtm
      summary: Create ATM Charge [EXPERIMENTAL]
      description: 'Create a new ATM withdrawal charge.


        Requires one of the following permissions:

        * `charges:Create`

        * `charges:CreateAtm`

        '
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      tags:
      - Create Charges
      requestBody:
        description: Create a new ATM charge.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCreateAtm'
      responses:
        '201':
          description: The created ATM charge
          headers:
            Location:
              description: The URL of the newly created charge
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateAtmResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/openapi_components-schemas-InvalidInputErrorDetails'
                - $ref: '#/components/schemas/schemas-InvalidRequestErrorDetails'
              examples:
                InvalidInputErrorExample:
                  $ref: '#/components/examples/components-examples-InvalidInputErrorExample'
                InvalidRequestErrorExample:
                  $ref: '#/components/examples/InvalidRequestErrorExample'
        '401':
          $ref: '#/components/responses/openapi_components-responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/components-responses-ForbiddenError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ReferencedEntityNotFoundErrorDetails'
                - $ref: '#/components/schemas/CannotDetermineCardNetworkErrorDetails'
                - $ref: '#/components/schemas/IncompatibleCardNetworkForOperation'
                - $ref: '#/components/schemas/schemas-IncompatibleCardNetworkErrorDetails'
                - $ref: '#/components/schemas/BlockedMerchantAcceptorErrorDetails'
                - $ref: '#/components/schemas/NonMatchingIdempotentRequestErrorDetails'
                - $ref: '#/components/schemas/MissingPosAddressErrorDetails'
                - $ref: '#/components/schemas/IncompatibleMccErrorDetails'
                - $ref: '#/components/schemas/IncompatibleCardErrorDetails'
                - $ref: '#/components/schemas/IdempotentRequestIsStillBeingProcessedErrorDetails'
              examples:
                ReferencedEntityNotFoundErrorExample:
                  $ref: '#/components/examples/components-examples-ReferencedEntityNotFoundErrorExample'
                CannotDetermineCardNetworkErrorExample:
                  $ref: '#/components/examples/CannotDetermineCardNetworkErrorExample'
                IncompatibleCardNetworkForOperationExample:
                  $ref: '#/components/examples/IncompatibleCardNetworkForOperationExample'
                IncompatibleCardNetworkErrorExample:
                  $ref: '#/components/examples/examples-IncompatibleCardNetworkErrorExample'
                BlockedMerchantAcceptorErrorExample:
                  $ref: '#/components/examples/BlockedMerchantAcceptorErrorExample'
                NonMatchingIdempontentRequestErrorExample:
                  $ref: '#/components/examples/NonMatchingIdempontentRequestErrorExample'
                MissingPosAddressProblemExample:
                  $ref: '#/components/examples/MissingPosAddressErrorExample'
                IncompatibleMccErrorExample:
                  $ref: '#/components/examples/IncompatibleMccErrorExample'
                IncompatibleCardErrorExample:
                  $ref: '#/components/examples/IncompatibleCardErrorExample'
                IdempotentRequestIsStillBeingProcessedErrorExample:
                  $ref: '#/components/examples/IdempotentRequestIsStillBeingProcessedExample'
        '429':
          $ref: '#/components/responses/components-responses-TooManyRequestsError'
        '500':
          $ref: '#/components/responses/responses-InternalServerError'
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
components:
  schemas:
    PinBlockIso4:
      type: object
      title: ISO-4 PIN Block
      description: PIN block related data in `ISO-4` format.
      additionalProperties: false
      required:
      - block
      - format
      - zoneId
      - keyId
      properties:
        format:
          type: string
          description: Indicates the type of PIN block format used.
          enum:
          - ISO-4
        block:
          $ref: '#/components/schemas/PinBlockDataIso4'
        zoneId:
          $ref: '#/components/schemas/PinBlockZoneId'
        keyId:
          $ref: '#/components/schemas/PinBlockKeyId'
    components-schemas-expiryYear:
      type: integer
      description: 'The year the card expires including the century

        '
      minimum: 1950
      maximum: 2200
    ForeignRetailerDisabled:
      type: object
      description: Transaction does not involve a foreign retailer
      required:
      - indicator
      additionalProperties: false
      properties:
        indicator:
          type: boolean
          enum:
          - false
          description: Specifies if end seller in the transaction is a foreign retailer
    terminalEntryMode:
      description: "This field indicates the method used for PAN entry on \nthe terminal to initiate the transaction.\n"
      type: string
      enum:
      - contactless
      - manual-entry
      - chip
      - magstripe
      - magstripe-fallback
    newEmvData:
      type: string
      description: 'This field contains integrated circuit card (ICC) related binary data that is transmitted from the card issuer to the ICC. This field is formatted as 510 hexadecimal characters, which translates to 255 bytes.


        If this field is present in the response message, it should be passed without modification to the ICC.

        '
      pattern: ^[A-Fa-f0-9]+$
      minLength: 1
      maxLength: 510
      example: 5F2A0209785F34010082027C008407A0000000093510950500000080009A031104119C01009F02060000000043149F090200029F10120210A780030400009F2100000000000000FF9F1A0202509F26082E3EAB17CEEC500C9F2701809F330360A0409F34034403029F3501229F360200169F3704BC75E9B39F4005A00090F0019F4C089F21B02E0EEAC454
    PinBlockDataIso4:
      type: string
      title: ISO-4 Block
      description: 'Contains encrypted PIN information, formatted as an `ISO-4` block of 32 hexadecimal characters.

        '
      pattern: ^[A-Fa-f0-9]+$
      minLength: 32
      maxLength: 32
      example: 32CF86E514CB24FE32CF86E514CB24FE
    schemas-ResolverByAcceptorKey:
      type: object
      additionalProperties: false
      required:
      - merchantAcceptorKey
      description: 'Used to select a merchant acceptor by key.

        '
      properties:
        merchantAcceptorKey:
          $ref: '#/components/schemas/components-schemas-acceptorKeyRef'
    softPosTerminalCapability:
      type: string
      enum:
      - contactlessChip
      - onlinePin
      - signature
      - noCvm
      - oneTap
    purposeOfPayment:
      type: string
      minLength: 1
      maxLength: 12
      description: 'A code that describes the purpose of payment to classify and report the nature and purpose of the transaction. Refer to Visa documentation for country specific requirements for this field.

        '
    AtmTerminal:
      type: object
      description: Details about the ATM terminal.
      required:
      - id
      - capabilities
      additionalProperties: false
      properties:
        id:
          type: string
          description: ATM terminal's ID
          pattern: ^[a-zA-Z0-9]+$
          minLength: 1
          maxLength: 8
          example: ATM001
        capabilities:
          type: array
          description: 'The capabilities of the ATM terminal. This can be one or multiple.

            '
          minItems: 1
          items:
            $ref: '#/components/schemas/AtmTerminalCapability'
          example:
          - contactChip
          - contactlessChip
          - contactMagStripe
          - contactlessMagStripe
    charges-pos_PosAuthorizationIsoFields:
      type: object
      required:
      - responseCode
      - responseCodeDescription
      - networkCode
      - systemTraceAuditNumber
      - retrievalReferenceNumber
      - eci
      - networkSpecificFields
      description: Object containing the raw values from the ISO8583 response message received from the network.
      properties:
        responseCode:
          $ref: '#/components/schemas/isoFieldResponseCode'
        responseCodeDescription:
          $ref: '#/components/schemas/isoFieldResponseCodeDescription'
        authorizationCode:
          $ref: '#/components/schemas/isoFieldAuthorizationCode'
        networkCode:
          $ref: '#/components/schemas/isoFieldNetworkCode'
        systemTraceAuditNumber:
          $ref: '#/components/schemas/isoFieldSystemTraceAuditNumber'
        retrievalReferenceNumber:
          $ref: '#/components/schemas/isoFieldRetrievalReferenceNumber'
        eci:
          type: string
          enum:
          - '00'
        networkSpecificFields:
          oneOf:
          - $ref: '#/components/schemas/amexSpecificFields'
          - $ref: '#/components/schemas/discoverSpecificFields'
          - $ref: '#/components/schemas/mastercardSpecificFields'
          - $ref: '#/components/schemas/visaSpecificFields'
    RequestAmountBreakdown:
      allOf:
      - $ref: '#/components/schemas/BaseAmountBreakdown'
      - type: object
        properties:
          cashback:
            allOf:
            - description: 'The cashback amount included in the total transaction `value` in minor units.

                For example `$12.34` should be encoded as `1234`.


                The following requirements apply:

                - `amount.breakdown.cashback` is greater than 0.

                - `type.intent` must be `purchase`.

                - `emvData` must be present and include valid data for tag `9F03`.

                - `partialApproval` is not requested.


                **Currently only supported for Visa and Mastercard.**

                '
            - $ref: '#/components/schemas/posAmountValue'
    emvData:
      type: string
      description: 'This field contains integrated circuit card (ICC) related binary data that is transmitted from the ICC to the card issuer and from the card issuer to the ICC. This field is formatted as 510 hexadecimal characters, which translates to 255 bytes.

        '
      pattern: ^[A-Fa-f0-9]+$
      minLength: 1
      maxLength: 510
      example: 5F2A0209785F34010082027C008407A0000000093510950500000080009A031104119C01009F02060000000043149F090200029F10120210A780030400009F2100000000000000FF9F1A0202509F26082E3EAB17CEEC500C9F2701809F330360A0409F34034403029F3501229F360200169F3704BC75E9B39F4005A00090F0019F4C089F21B02E0EEAC454
    expiryMonthOptional:
      allOf:
      - $ref: '#/components/schemas/expiryMonth'
      description: 'The month the card expires. January is 1. Must be provided together with `expiryYear`, or omitted alongside it.

        '
    AuthenticationExempt:
      type: object
      required:
      - compliance
      - complianceReason
      - method
      properties:
        method:
          type: string
          enum:
          - none
        compliance:
          type: string
          enum:
          - exemption
        complianceReason:
          type: string
          enum:
          - whitelist
          - auto
          - mit
          - tra
          - recurring
          - low-value
          - delegation
          - scp
          - wip
    fundingPayoutSca:
      oneOf:
      - $ref: '#/components/schemas/FundingPayoutThreeDsAuthentication'
      - $ref: '#/components/schemas/ScaBEP'
      - $ref: '#/components/schemas/AuthenticationOutOfScope'
      - $ref: '#/components/schemas/AuthenticationExempt'
      - $ref: '#/components/schemas/ScaMit'
    FundingIntent:
      description: 'The intention of the cardholder

        '
      type: string
      enum:
      - funding
    IncompatibleMccErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/merchant-acceptor/incompatible-mcc
        title:
          allOf:
          - $ref: '#/components/schemas/errorTitle'
          - enum:
            - Incompatible Merchant Category Code
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    authorizationIsoFieldsVisa:
      allOf:
      - $ref: '#/components/schemas/commonIsoFields'
      - type: object
        required:
        - networkCode
        - systemTraceAuditNumber
        - retrievalReferenceNumber
        - eci
        - networkSpecificFields
        properties:
          authorizationCode:
            $ref: '#/components/schemas/isoFieldAuthorizationCode'
          networkCode:
            $ref: '#/components/schemas/isoFieldNetworkCode'
          systemTraceAuditNumber:
            $ref: '#/components/schemas/isoFieldSystemTraceAuditNumber'
          retrievalReferenceNumber:
            $ref: '#/components/schemas/isoFieldRetrievalReferenceNumber'
          eci:
            $ref: '#/components/schemas/isoFieldEciVisa'
          networkSpecificFields:
            $ref: '#/components/schemas/visaSpecificFields'
    AccountNumber:
      type: string
      description: The account number.
      pattern: ^[a-zA-Z0-9 !#$%&'()*+,./:;<=>?@^_`{|}~"\-\[\]\\]+$
      minLength: 1
      maxLength: 50
      example: '5286940020000007'
    ChargeResponse:
      type: object
      required:
      - key
      - created
      - status
      - type
      - localTransactionDateTime
      - merchantAcceptorRef
      - card
      - amount
      - fraudLiability
      - authorizationIsoFields
      - authentication
      - version
      description: 'A charge

        '
      properties:
        key:
          $ref: '#/components/schemas/chargeKey'
        merchantAcceptorRef:
          $ref: '#/components/schemas/components-schemas-AcceptorRef'
        card:
          $ref: '#/components/schemas/OutputCard'
        tokenDetails:
          $ref: '#/components/schemas/StoredTokenDetails'
        amount:
          $ref: '#/components/schemas/common_Amount'
        cardholderBillingAmount:
          $ref: '#/components/schemas/CardholderBillingAmount'
        type:
          $ref: '#/components/schemas/ResponseChargeType'
        clearingMode:
          $ref: '#/components/schemas/clearingMode'
        status:
          $ref: '#/components/schemas/ChargeStatus'
        authentication:
          $ref: '#/components/schemas/ChargeAuthentication'
        localTransactionDateTime:
          $ref: '#/components/schemas/localTransactionDateTime'
        transactionType:
          $ref: '#/components/schemas/TransactionType'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
        fraudLiability:
          $ref: '#/components/schemas/fraudLiability'
        authorizationIsoFields:
          $ref: '#/components/schemas/authorizationIsoFields'
        billingAddress:
          $ref: '#/components/schemas/BillingAddress'
        clearAfter:
          $ref: '#/components/schemas/clearAfter'
        dynamicDescriptor:
          $ref: '#/components/schemas/schemas-DynamicDescriptor'
        created:
          $ref: '#/components/schemas/openapi_components-schemas-created'
        lastModified:
          $ref: '#/components/schemas/components-schemas-lastModified'
        allowPartialApproval:
          $ref: '#/components/schemas/allowPartialApproval'
        foreignRetailer:
          $ref: '#/components/schemas/schemas-foreignRetailer'
        subMerchant:
          $ref: '#/components/schemas/subMerchantResponse'
        version:
          $ref: '#/components/schemas/schemas-version'
          example: 1
    threeDsCryptogram:
      type: string
      description: The 3DS cryptogram provided by the digital wallet. It must be encoded in base64 format (40 bytes).
      minLength: 28
      maxLength: 28
      pattern: ^[\w\/+=]+$
      example: 112233445566778899001122334=
    isoFieldRetrievalReferenceNumber:
      type: string
      description: Contents of field 37
      example: '131608123456'
    DccDisabled:
      type: object
      description: DCC is not enabled for this transaction
      required:
      - enabled
      additionalProperties: false
      properties:
        enabled:
          type: boolean
          enum:
          - false
          description: Specifies if DCC is enabled for this transaction
    charges-payout_AccountNumberType:
      description: The type of the `accountNumber`.
      type: string
      enum:
      - card-account
      - iban-bank-account
      - bic-bank-account
      - rtn-bank-account
      - email
      - phone-number
      - wallet-id
      - social-network-id
      - other
    authenticationValue3ds:
      type: string
      description: Base64 encoded result value from the 3DS transaction. Note that Mastercard and Visa use a different underlying format.
      pattern: ^[\w\/+=]+$
      minLength: 1
      maxLength: 28
      example: kANBCCDDYJYjadADpka8KoQMqS
    AtmTerminalCapability:
      type: string
      description: ATM terminal capabilities subset
      enum:
      - contactChip
      - contactlessChip
      - contactMagStripe
      - contactlessMagStripe
    openapi_components-schemas-line1:
      type: string
      pattern: ^[\w -,\.\-\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF]+$
      minLength: 1
      maxLength: 120
      description: 'Address line 1

        '
      example: Langtown Road
    clearAfter:
      type: string
      description: 'If provided, clearing will not occur before this point in time.

        If no timezone is included, it is assumed to be UTC.

        The value may be at most 6 months in the future from when the charge was created.

        '
      format: iso-8601-date-time
    FundingPayoutThreeDsAuthenticationResult:
      type: object
      required:
      - type
      - authenticationValue
      - directoryServerTransId
      description: 'A 3DS result from either the [3DS Authentication endpoint](#operation/create3dsAuthentication) or an external party.

        '
      properties:
        type:
          $ref: '#/components/schemas/result3DS'
        version:
          description: 'The version of the 3DS protocol used for authentication.


            **Required for AMEX transactions.**

            '
          type: string
          enum:
          - 2.2.0
        authenticationValue:
          $ref: '#/components/schemas/authenticationValue3ds'
        directoryServerTransId:
          type: string
          description: Transaction ID retrieved from the Directory Server (DS).
          pattern: ^[\w +-=.,:;!?$@()]+$
          minLength: 1
          maxLength: 36
          example: 5340af8a-5505-4bf6-abcd-123412341234
        eci:
          type: string
          description: 'ECI value from the 3DS provider. Use this to explicitly override the ECI value in Visa authorization messages.

            This field has no impact for any other network. <span class="tag network-tag visa-tag">VISA</span>

            '
          pattern: ^\d+$
          minLength: 2
          maxLength: 2
          example: '05'
    scaExemptionRequest:
      type: string
      description: "This field can be used to indicate an acquirer SCA exemption request. Silverflow supports several SCA exemption request use cases, listed below:\n  - Transaction risk analysis (TRA)\n  - Low value payment (LVP)\n  - Secure corporate payment (SCP)\n\nPlease note that these exemption requests may or may not be honored by the issuer.\n"
      enum:
      - scp
      - low-value
      - tra
    charges-funding_Identification:
      description: Identification used to verify sender or receiver.
      type: object
      required:
      - value
      - type
      properties:
        type:
          description: 'Type of identification.

            '
          type: string
          enum:
          - date-of-birth
        value:
          description: 'The value used for identification.


            For `type` `date-of-birth`, the value should be provided in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).

            '
          type: string
          minLength: 1
          maxLength: 35
    chargeKey:
      description: Uniquely identifies a charge.
      type: string
      pattern: ^chg-[a-zA-Z0-9]+$
      minLength: 5
      maxLength: 120
      example: chg-1e1dAHhgstYTUhlphPzZ
    ForbiddenErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/forbidden
        title:
          allOf:
          - $ref: '#/components/schemas/errorTitle'
          - enum:
            - Forbidden
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 403
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    dinersSpecificFields:
      type: object
      description: Diners specific ISO8583 raw values
      required:
      - network
      properties:
        network:
          type: string
          description: Card network providing these fields
          enum:
          - diners
        cvvIndicator:
          type: string
          description: Contents field 44, subfield 2
        networkReferenceId:
          type: string
          description: Contents field 123
    expiryMonth:
      type: integer
      description: 'The month the card expires. January is 1

        '
      minimum: 1
      maximum: 12
    ChargeCreatePos:
      type: object
      required:
      - merchantAcceptorResolver
      - card
      - amount
      - type
      - terminal
      description: 'Create a POS charge

        '
      properties:
        merchantAcceptorResolver:
          $ref: '#/components/schemas/schemas-AcceptorResolver'
        card:
          $ref: '#/components/schemas/PosCardInput'
        amount:
          $ref: '#/components/schemas/RequestPosAmount'
        type:
          $ref: '#/components/schemas/ChargePosType'
        localTransactionDateTime:
          $ref: '#/components/schemas/localTransactionDateTime'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
        track2Data:
          $ref: '#/components/schemas/track2Data'
        emvData:
          $ref: '#/components/schemas/emvData'
        cardSequenceNumber:
          $ref: '#/components/schemas/cardSequenceNumber'
        pinBlock:
          $ref: '#/components/schemas/PinBlock'
        terminal:
          $ref: '#/components/schemas/Terminal'
        allowPartialApproval:
          $ref: '#/components/schemas/allowPartialApproval'
        subMerchant:
          $ref: '#/components/schemas/subMerchant'
        clearingMode:
          $ref: '#/components/schemas/clearingMode'
        clearAfter:
          $ref: '#/components/schemas/clearAfter'
    TokenDetailsDigitalWallet:
      allOf:
      - $ref: '#/components/schemas/StoredTokenDetailsDigitalWallet'
      - type: object
        required:
        - threeDsCryptogram
        properties:
          threeDsCryptogram:
            $ref: '#/components/schemas/threeDsCryptogram'
    AtmAuthorizationIsoFields:
      type: object
      required:
      - responseCode
      - responseCodeDescription
      - networkCode
      - systemTraceAuditNumber
      - retrievalReferenceNumber
      - networkSpecificFields
      description: Object containing the raw values from the ISO8583 response message received from the network for ATM transactions.
      properties:
        responseCode:
          $ref: '#/components/schemas/isoFieldResponseCode'
        responseCodeDescription:
          $ref: '#/components/schemas/isoFieldResponseCodeDescription'
        authorizationCode:
          $ref: '#/components/schemas/isoFieldAuthorizationCode'
        networkCode:
          $ref: '#/components/schemas/isoFieldNetworkCode'
        systemTraceAuditNumber:
          $ref: '#/components/schemas/isoFieldSystemTraceAuditNumber'
        retrievalReferenceNumber:
          $ref: '#/components/schemas/isoFieldRetrievalReferenceNumber'
        networkSpecificFields:
          oneOf:
          - $ref: '#/components/schemas/mastercardSpecificFields'
          - $ref: '#/components/schemas/visaSpecificFields'
    ThreeDsAuthenticationResult:
      type: object
      required:
      - authenticationValue
      - directoryServerTransId
      description: 'A 3DS result from either the [3DS Authentication endpoint](#operation/create3dsAuthentication) or an external party.

        '
      properties:
        version:
          description: 'The 3DS protocol version which has been used to perform 3DS.


            **Required for American Express transactions.**

            '
          type: string
          enum:
          - 2.2.0
        authenticationValue:
          $ref: '#/components/schemas/authenticationValue3ds'
        directoryServerTransId:
          type: string
          description: Transaction ID retrieved from the Directory Server (DS).
          pattern: ^[\w +-=.,:;!?$@()]+$
          minLength: 1
          maxLength: 36
          example: 5340af8a-5505-4bf6-abcd-123412341234
        eci:
          type: string
          description: 'ECI value from the 3DS provider. Use this to explicitly override the ECI value in Visa authorization messages.

            This field has no impact for any other network. <span class="tag network-tag visa-tag">VISA</span>

            '
          pattern: ^\d+$
          minLength: 2
          maxLength: 2
          example: '05'
    BlockedMerchantAcceptorErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/merchant-acceptor/blocked
        title:
          allOf:
          - $ref: '#/components/schemas/errorTitle'
          - enum:
            - Blocked Merchant Acceptor
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    EnhancedDataLineItem:
      type: object
      required:
      - commodityCode
      - description
      - discountAmount
      - productCode
      - quantity
      - unitOfMeasure
      - unitPrice
      - taxAmount
      - taxRate
      - totalAmount
      properties:
        commodityCode:
          type: string
          minLength: 1
          maxLength: 12
          description: Commodity classification code (e.g. UNSPSC, NAICS). Required for Visa Fleet transactions.
        description:
          type: string
          minLength: 2
          maxLength: 26
          description: Product or service description.
        discountAmount:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999999
          description: Discount applied to this line item in minor currency units.
        productCode:
          type: string
          minLength: 1
          maxLength: 12
          description: Product code for the item.
        quantity:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999999
          description: Quantity of items purchased. Includes 4 implied decimal places (e.g. 1.23 kg = 12300)
        unitOfMeasure:
          type: string
          minLength: 1
          maxLength: 12
          description: The unit of measurement for an item.
        unitPrice:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999999
          description: Price per unit. Includes 4 implied decimal places (e.g. 1.23$ = 12300).
        taxAmount:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999999
          description: Tax amount for the line item in minor currency units.
        taxRate:
          type: integer
          format: int64
          minimum: 0
          maximum: 10000
          description: Tax rate percentage for the line item. Includes 2 implied decimal places (e.g. 1.23% = 123)
        totalAmount:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999999
          description: Total amount for the line item in minor currency units.
    components-schemas-acceptorKey:
      description: Uniquely identifies a merchant acceptor.
      type: string
      pattern: ^mac-[a-zA-Z0-9]+$
      minLength: 5
      maxLength: 120
      example: mac-1eOdAHhgstYTUhlphPFf
    ClearingStatus:
      type: string
      description: Clearing status of the charge
      enum:
      - none
      - manual
      - pending
      - completed
      - cancelled
      - abandoned
      example: pending
    accountSource:
      description: 'Indicates the type of account from which the funds should be withdrawn.

        '
      type: string
      enum:
      - unspecified
      - savings
      - checking
      - credit
    schemas-NameOfPeopleAndPlaces:
      type: string
      pattern: ^[\w -,\.\-\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF]+$
      minLength: 1
      maxLength: 120
      example: Name
    IncompatibleCardNetworkForOperation:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/charge/incompatible-card-network-for-operation
        title:
          allOf:
          - $ref: '#/components/schemas/errorTitle'
          - enum:
            - Incompatible Network For Operation
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    fraudLiability:
      description: Which party is liable in case of fraud.
      type: string
      enum:
      - acquirer
      - issuer
    cardSequenceNumber:
      type: string
      description: 'Distinguishes among separate cards having the same PAN.

        This is required if EMV tag 5F34 is present/personalized on the card chip.

        '
      pattern: ^[0-9]+$
      minLength: 1
      maxLength: 3
      example: '001'
    schemas-merchantKey:
      description: Uniquely identifies a merchant.
      type: string
      pattern: ^mct-[a-zA-Z0-9]+$
      minLength: 5
      maxLength: 120
      example: mct-1234abcdef123
    StoredTokenDetailsDigitalWallet:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Details about a token from Apple Pay or Google Pay
          enum:
          - apple-pay
          - google-pay
        eci:
          allOf:
          - description: 'Zero-padded e-commerce indicator.


              Only supported for <span class="tag network-tag visa-tag">VISA</span> <span class="tag network-tag mastercard-tag">MASTERCARD</span> <span class="tag network-tag amex-tag">AMEX</span>.

              '
          - $ref: '#/components/schemas/schemas-eci'
    AtmCardInput:
      type: object
      description: Card details for ATM transactions.
      additionalProperties: false
      required:
      - number
      - expiryMonth
      - expiryYear
      properties:
        number:
          type: string
          description: The primary account number (PAN) of the card.
          pattern: ^[0-9]+$
          minLength: 12
          maxLength: 19
          example: '5413330089010640'
        expiryMonth:
          type: integer
          description: The expiry month of the card (1-12).
          minimum: 1
          maximum: 12
          example: 12
        expiryYear:
          type: integer
          description: The expiry year of the card (four digits).
          minimum: 1950
          maximum: 2200
          example: 2025
    errorInstance:
      type: string
      description: 'A reference that identifies the specific occurrence of the error. The instance is unique for every error.

        '
    components-schemas-AcceptorRef:
      type: object
      description: Reference key and status of the acceptor
      required:
      - key
      - version
      properties:
        key:
          $ref: '#/components/schemas/components-schemas-acceptorKey'
        version:
          $ref: '#/components/schemas/schemas-version'
    schemas-countryCodeAlpha3:
      type: string
      pattern: ^[A-Z]+$
      minLength: 3
      maxLength: 3
      externalDocs:
        description: Find more info here.
        url: https://www.iso.org/iso-3166-country-codes.html
      example: NLD
    localTransactionDateTime:
      type: string
      format: iso-8601-date-time
      description: Date and time of the transaction in the local timezone.
    authorizationIsoFieldsDiscover:
      allOf:
      - $ref: '#/components/schemas/commonIsoFields'
      - type: object
        required:
        - networkCode
        - systemTraceAuditNumber
        - retrievalReferenceNumber
        - eci
        - networkSpecificFields
        properties:
          authorizationCode:
            $ref: '#/components/schemas/isoFieldAuthorizationCode'
          networkCode:
            $ref: '#/components/schemas/isoFieldNetworkCode'
          systemTraceAuditNumber:
            $ref: '#/components/schemas/isoFieldSystemTraceAuditNumber'
          retrievalReferenceNumber:
            $ref: '#/components/schemas/isoFieldRetrievalReferenceNumber'
          eci:
            $ref: '#/components/schemas/isoFieldEciDiscover'
          networkSpecificFields:
            $ref: '#/components/schemas/discoverSpecificFields'
    PayoutOrder:
      description: 'The method used to place the order.

        '
      type: string
      enum:
      - checkout
    components-schemas-CountryCodeAlpha2:
      type: object
      required:
      - alpha2
      additionalProperties: false
      properties:
        alpha2:
          $ref: '#/components/schemas/schemas-countryCodeAlpha2'
    methodBEP:
      description: 'Indicates the method that was used to comply to SCA.

        '
      type: string
      enum:
      - bep
    CardInputWithOptionalExpiryDate:
      type: object
      title: Card Input With Optional Expiry Date
      required:
      - number
      additionalProperties: false
      properties:
        number:
          $ref: '#/components/schemas/components-schemas-pan'
        expiryMonth:
          $ref: '#/components/schemas/expiryMonthOptional'
        expiryYear:
          $ref: '#/components/schemas/expiryYearOptional'
        cvc:
          $ref: '#/components/schemas/schemas-cvc'
        holderName:
          $ref: '#/components/schemas/schemas-holderName'
    PosCardInput:
      type: object
      required:
      - number
      - expiryMonth
      - expiryYear
      additionalProperties: false
      description: Card data
      properties:
        number:
          $ref: '#/components/schemas/components-schemas-pan'
        expiryMonth:
          $ref: '#/components/schemas/expiryMonth'
        expiryYear:
          $ref: '#/components/schemas/components-schemas-expiryYear'
        createProcessorToken:
          type: boolean
          default: false
          description: 'When set to `true`, Silverflow will [create a processor token](https://docs.silverflow.com/guides/card-tokenization) for the provided `card` and return a processor token key in the response field `card.processorTokenKey`.


            **This flag is non-blocking.** When failing to create a processor token, the authorization will take place as usual and no `card.processorTokenKey` will be returned.

            '
    ResponseAmountBreakdown:
      allOf:
      - $ref: '#/components/schemas/BaseAmountBreakdown'
      - type: object
        properties:
          cashback:
            allOf:
            - description: 'The cashback amount included in the total transaction `value` in minor units.

                For example `$12.34` should be encoded as `1234`.

                '
            - $ref: '#/components/schemas/posAmountValue'
    FundingPayoutThreeDsAuthenticationResultResponse:
      type: object
      required:
      - type
      readOnly: true
      description: Object containing the information of a 3DS transaction.
      properties:
        type:
          $ref: '#/components/schemas/result3DS'
        version:
          description: 'The 3DS protocol version which has been used to perform 3DS.

            This information is only available when it has been provided in the request.

            '
          type: string
          enum:
          - 2.2.0
        directoryServerTransId:
          type: string
          description: Transaction ID retrieved from the Directory Server
          example: 5340af8a-5505-4bf6-abcd-123412341234
    commonIsoFields:
      type: object
      required:
      - responseCode
      - responseCodeDescription
      properties:
        responseCode:
          $ref: '#/components/schemas/isoFieldResponseCode'
        responseCodeDescription:
          $ref: '#/components/schemas/isoFieldResponseCodeDescription'
    PayoutChargeRequest:
      type: object
      required:
      - merchantAcceptorResolver
      - card
      - amount
      - type
      additionalProperties: false
      description: 'Create a payout charge

        '
      properties:
        merchantAcceptorResolver:
          $ref: '#/components/schemas/schemas-AcceptorResolver'
        card:
          $ref: '#/components/schemas/CardWithOptionalExpiryDate'
        amount:
          $ref: '#/components/schemas/common_Amount'
        type:
          $ref: '#/components/schemas/PayoutChargeType'
        initialTransactionReferences:
          description: Network-specific identifiers from the original authorization.
          oneOf:
          - $ref: '#/components/schemas/VisaPayoutInitialTransactionReference'
        threeDsAuthenticationResult:
          $ref: '#/components/schemas/FundingPayoutThreeDsAuthenticationResult'
        localTransactionDateTime:
          $ref: '#/components/schemas/localTransactionDateTime'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
        fundingSource:
          $ref: '#/components/schemas/PayoutFundingSource'
        sender:
          $ref: '#/components/schemas/PayoutSenderInput'
        receiver:
          $ref: '#/components/schemas/PayoutReceiverInput'
        transactionType:
          $ref: '#/components/schemas/PayoutTransactionType'
        purposeOfPayment:
          $ref: '#/components/schemas/purposeOfPayment'
        dynamicDescriptor:
          $ref: '#/components/schemas/schemas-DynamicDescriptor'
        clearingMode:
          allOf:
          - description: "The clearing method for the charge. \n- `auto`: The charge is cleared automatically as soon as possible. To delay clearing, provide a `clearAfter` timestamp.\n- `manual`: The charge must be manually cleared later.\n\n**Only supported for <span class=\"tag network-tag mastercard-tag\">MASTERCARD</span>.**\n"
          - $ref: '#/components/schemas/clearingMode'
        clearAfter:
          allOf:
          - description: 'If provided, clearing will not occur before this point in time. This is only supported when using `clearingMode` `auto`.


              The value may be at most 6 months in the future from when the charge was created.


              This field is only supported for <span class="tag network-tag mastercard-tag">MASTERCARD</span>

              '
          - $ref: '#/components/schemas/clearAfter'
        riskAssessmentKey:
          $ref: '#/components/schemas/riskAssessmentKey'
        foreignRetailer:
          $ref: '#/components/schemas/schemas-foreignRetailer'
        subMerchant:
          $ref: '#/components/schemas/subMerchant'
    IncompatibleAuthenticationStatus:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/charge/incompatible-authentication-status
        title:
          allOf:
          - $ref: '#/components/schemas/errorTitle'
          - enum:
            - Incompatible Authentication Status
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    SenderReceiverType:
      type: string
      enum:
      - consumer
      - organization
      - not-applicable
    schemas-bepKey:
      description: Uniquely identifies a bep payment
      type: string
      pattern: ^bep-[a-zA-Z0-9]+$
      example: bep-1e1dAHhgstYTUhlphPzZ
    Status:
      type: object
      required:
      - authentication
      - authorization
      - clearing
      description: 'The status property provides a high-level representation of the lifecycle of a charge.

        For a complete history, the actions should be used.

        '
      properties:
        authentication:
          $ref: '#/components/schemas/AuthenticationStatus'
        authorization:
          $ref: '#/components/schemas/AuthorizationStatus'
        clearing:
          $ref: '#/components/schemas/ClearingStatus'
    UnexpectedCurrencyErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/bin/unexpected-currency
        title:
          $ref: '#/components/schemas/errorTitle'
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    isoFieldAuthorizationCode:
      type: string
      description: Contents of field 38
      example: 4A4316
    BaseTerminal:
      type: object
      required:
      - id
      - attended
      properties:
        id:
          type: string
          description: Terminal's ID
          pattern: ^[a-zA-Z0-9]+$
          minLength: 1
          maxLength: 8
          example: AAFF
        attended:
          type: boolean
          description: Whether the terminal is attended or not.
    authorizationIsoFields:
      description: Object containing the raw values from the ISO8583 response message received from the network.
      oneOf:
      - $ref: '#/components/schemas/authorizationIsoFieldsAmericanExpress'
      - $ref: '#/components/schemas/authorizationIsoFieldsBancontact'
      - $ref: '#/components/schemas/authorizationIsoFieldsDiners'
      - $ref: '#/components/schemas/authorizationIsoFieldsDiscover'
      - $ref: '#/components/schemas/authorizationIsoFieldsMastercard'
      - $ref: '#/components/schemas/authorizationIsoFieldsVisa'
    SoftPOS:
      allOf:
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - softpos
      - $ref: '#/components/schemas/BaseTerminal'
      - type: object
        required:
        - attended
        - capabilities
        properties:
          attended:
            type: boolean
            enum:
            - true
          capabilities:
            type: array
            description: 'The capabilities of the terminal. This can be one or multiple, and if more than one is specified it means that it is capable of all of those things.

              '
            items:
              $ref: '#/components/schemas/softPosTerminalCapability'
            example:
            - onlinePin
            - contactlessChip
            - noCvm
            - oneTap
    StatusPos:
      type: object
      required:
      - authentication
      - authorization
      - clearing
      description: 'The status property provides a high-level representation of the lifecycle of a charge. For a complete history, the actions should be used.

        '
      properties:
        authentication:
          type: string
          description: Strong Customer Authentication (SCA) status of the charge
          enum:
          - none
        authorization:
          type: string
          description: 'Authorization status of the charge.


            Value ''approved-purchase-amount-only'' is only returned for Mastercard charges using ''amount.breakdown.cashback''.

            In this case, only the ''amount.breakdown.baseAmount'' was approved, but not the cashback.

            '
          enum:
          - none
          - approved
          - approved-partial
          - declined
          - reversed
          - approved-purchase-amount-only
          example: approved
        clearing:
          $ref: '#/components/schemas/ClearingStatus'
    FundingAddressInputForReceiver:
      type: object
      required:
      - countryCode
      additionalProperties: false
      description: 'A physical postal address.

        '
      properties:
        countryCode:
          oneOf:
          - $ref: '#/components/schemas/components-schemas-CountryCodeAlpha3'
          - $ref: '#/components/schemas/components-schemas-CountryCodeAlpha2'
          - $ref: '#/components/schemas/components-schemas-CountryCodeNumeric'
        stateOrProvince:
          $ref: '#/components/schemas/openapi_components-schemas-stateOrProvince'
        city:
          $ref: '#/components/schemas/openapi_components-schemas-city'
        line1:
          $ref: '#/components/schemas/openapi_components-schemas-line1'
        line2:
          $ref: '#/components/schemas/openapi_components-schemas-line2'
        postalCode:
          $ref: '#/components/schemas/openapi_components-schemas-postalCode'
    FundingReceiverInput:
      type: object
      description: Details of the recipient of the funds.
      required:
      - firstName
      - lastName
      - accountNumber
      - address
      properties:
        type:
          allOf:
          - description: The type of the receiver. **Mastercard only.** <a class="experimental-tag-link" href="https://docs.silverflow.com/guides/api-lifecycle#tag/EXPERIMENTAL-Tag"><span class="tag experimental-tag">EXPERIMENTAL</span></a>
          - $ref: '#/components/schemas/SenderReceiverType'
        organizationName:
          allOf:
          - description: 'The name of the organization.

              Required when the `receiver.type = "organization"`. **Mastercard only.** <a class="experimental-tag-link" href="https://docs.silverflow.com/guides/api-lifecycle#tag/EXPERIMENTAL-Tag"><span class="tag experimental-tag">EXPERIMENTAL</span></a>

              '
          - $ref: '#/components/schemas/SenderReceiverOrganizationName'
        firstName:
          allOf:
          - description: Recipient's first name.
          - $ref: '#/components/schemas/schemas-NameOfPeopleAndPlaces'
        middleName:
          allOf:
          - description: Recipient's middle name.
          - $ref: '#/components/schemas/schemas-NameOfPeopleAndPlaces'
        lastName:
          allOf:
          - description: Recipient's last name.
          - $ref: '#/components/schemas/schemas-NameOfPeopleAndPlaces'
        accountNumber:
          allOf:
          - description: The account number of the recipient.
          - $ref: '#/components/schemas/AccountNumber'
        accountNumberType:
          allOf:
          - description: The type of the `accountNumber`. This property is required if the `fundingType` is `account-to-account` or `person-to-person`.
          - $ref: '#/components/schemas/AccountNumberType'
        address:
          description: The address of the recipient.
          $ref: '#/components/schemas/FundingAddressInputForReceiver'
    FundingChargeRequest:
      type: object
      required:
      - merchantAcceptorResolver
      - card
      - amount
      - type
      - receiver
      additionalProperties: false
      description: 'Create a funding charge.

        '
      properties:
        merchantAcceptorResolver:
          $ref: '#/components/schemas/schemas-AcceptorResolver'
        card:
          $ref: '#/components/schemas/schemas-Card'
        tokenDetails:
          $ref: '#/components/schemas/TokenDetails'
        amount:
          $ref: '#/components/schemas/common_Amount'
        type:
          $ref: '#/components/schemas/FundingChargeType'
        threeDsAuthenticationResult:
          $ref: '#/components/schemas/FundingPayoutThreeDsAuthenticationResult'
        localTransactionDateTime:
          $ref: '#/components/schemas/localTransactionDateTime'
        transactionType:
          $ref: '#/components/schemas/FundingTransactionType'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
        receiver:
          $ref: '#/components/schemas/FundingReceiverInput'
        sender:
          $ref: '#/components/schemas/FundingSenderInput'
        purposeOfPayment:
          $ref: '#/components/schemas/purposeOfPayment'
        dynamicDescriptor:
          $ref: '#/components/schemas/schemas-DynamicDescriptor'
        allowPartialApproval:
          $ref: '#/components/schemas/allowPartialApproval'
        scaExemptionRequest:
          $ref: '#/components/schemas/fundingScaExemptionRequest'
        clearingMode:
          allOf:
          - description: 'The clearing method for the charge.

              - `auto`: The charge is cleared automatically as soon as possible. To delay clearing, provide a `clearAfter` timestamp.

              - `manual`: The charge must be manually cleared later.


              **Only supported for <span class="tag network-tag mastercard-tag">MASTERCARD</span>.**

              '
          - $ref: '#/components/schemas/clearingMode'
        clearAfter:
          allOf:
          - description: 'If provided, clearing will not occur before this point in time. This is only supported when using `clearingMode` `auto`.


              This value may be at most 6 months in the future from when the charge was created.


              This field is only supported for <span class="tag network-tag mastercard-tag">MASTERCARD</span>

              '
          - $ref: '#/components/schemas/clearAfter'
        riskAssessmentKey:
          $ref: '#/components/schemas/riskAssessmentKey'
        foreignRetailer:
          $ref: '#/components/schemas/schemas-foreignRetailer'
        subMerchant:
          $ref: '#/components/schemas/subMerchant'
    ChargeCreateAtm:
      type: object
      additionalProperties: false
      required:
      - merchantAcceptorResolver
      - card
      - amount
      - type
      - accountSource
      - terminal
      - emvData
      - pinBlock
      description: 'Create an ATM charge

        '
      properties:
        merchantAcceptorResolver:
          $ref: '#/components/schemas/schemas-AcceptorResolver'
        card:
          $ref: '#/components/schemas/AtmCardInput'
        type:
          $ref: '#/components/schemas/ChargeAtmType'
        amount:
          $ref: '#/components/schemas/AtmAmount'
        dcc:
          $ref: '#/components/schemas/Dcc'
        accountSource:
          $ref: '#/components/schemas/accountSource'
        terminal:
          $ref: '#/components/schemas/AtmTerminal'
        localTransactionDateTime:
          $ref: '#/components/schemas/localTransactionDateTime'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
        track2Data:
          allOf:
          - description: 'The information encoded on track 2 of the card magnetic stripe as defined in the ISO 7813 specification, including data element separator but excluding the beginning and ending sentinels and the LRC (Longitudinal Redundancy Check) character.

              This property is mandatory when the `terminalEntryMode` is `chip`, `contactless` or `magstripe`.

              '
          - $ref: '#/components/schemas/track2Data'
        cardSequenceNumber:
          $ref: '#/components/schemas/cardSequenceNumber'
        emvData:
          $ref: '#/components/schemas/emvData'
        pinBlock:
          $ref: '#/components/schemas/PinBlockIso4'
        clearingMode:
          $ref: '#/components/schemas/clearingMode'
        clearAfter:
          $ref: '#/components/schemas/clearAfter'
    components-schemas-CountryCodeAlpha3:
      type: object
      required:
      - alpha3
      additionalProperties: false
      properties:
        alpha3:
          $ref: '#/components/schemas/schemas-countryCodeAlpha3'
    openapi_components-schemas-created:
      type: string
      description: The date and time this object was created
      format: iso-8601-date-time
      readOnly: true
    isoFieldResponseCode:
      type: string
      description: Contents of field 39
      example: '00'
    StatusAtm:
      type: object
      required:
      - authorization
      - clearing
      description: 'The status property provides a high-level representation of the lifecycle of an ATM charge. ATM charges do not support authentication (no 3DS).

        '
      properties:
        authorization:
          type: string
          description: Authorization status of the ATM charge.
          enum:
          - approved
          - declined
          - reversed
          example: approved
        clearing:
          $ref: '#/components/schemas/ClearingStatus'
    avsResult:
      description: The result of the AVS verification
      type: string
      enum:
      - none
      - match
      - partial-match
      - no-match
      - not-processed
    components-schemas-Address:
      type: object
      required:
      - countryCode
      - city
      - line1
      - postalCode
      additionalProperties: false
      description: 'A physical postal address

        '
      properties:
        countryCode:
          $ref: '#/components/schemas/schemas-CountryCode'
        stateOrProvince:
          $ref: '#/components/schemas/openapi_components-schemas-stateOrProvince'
        city:
          $ref: '#/components/schemas/openapi_components-schemas-city'
        line1:
          $ref: '#/components/schemas/openapi_components-schemas-line1'
        line2:
          $ref: '#/components/schemas/openapi_components-schemas-line2'
        postalCode:
          $ref: '#/components/schemas/openapi_components-schemas-postalCode'
    ValidationError:
      type: object
      required:
      - path
      - message
      properties:
        path:
          type: string
          description: A relative path to the error location within the request body.
        errorCode:
          type: string
          description: A code that identifies the error.
        message:
          type: string
          description: A brief description of the validation error.
    ChargeCreatePosResponse:
      type: object
      required:
      - key
      - created
      - status
      - type
      - merchantAcceptorRef
      - authorizationIsoFields
      - amount
      - version
      - card
      - localTransactionDateTime
      - terminal
      description: 'A POS charge

        '
      properties:
        key:
          $ref: '#/components/schemas/chargeKey'
        merchantAcceptorRef:
          $ref: '#/components/schemas/components-schemas-AcceptorRef'
        card:
          $ref: '#/components/schemas/OutputCard'
        amount:
          allOf:
          - description: The amount encoded as an object with a `value` in minor units and a `currency` code. In case of a (partially) approved charge, this is the authorized amount.
          - $ref: '#/components/schemas/ResponsePosAmount'
        type:
          $ref: '#/components/schemas/ChargePosType'
        status:
          $ref: '#/components/schemas/StatusPos'
        localTransactionDateTime:
          $ref: '#/components/schemas/localTransactionDateTime'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
        newEmvData:
          $ref: '#/components/schemas/newEmvData'
        terminalAction:
          $ref: '#/components/schemas/terminalAction'
        authorizationIsoFields:
          $ref: '#/components/schemas/charges-pos_PosAuthorizationIsoFields'
        allowPartialApproval:
          $ref: '#/components/schemas/allowPartialApproval'
        subMerchant:
          $ref: '#/components/schemas/subMerchantResponse'
        clearingMode:
          $ref: '#/components/schemas/clearingMode'
        clearAfter:
          $ref: '#/components/schemas/clearAfter'
        terminal:
          $ref: '#/components/schemas/Terminal'
        created:
          $ref: '#/components/schemas/openapi_components-schemas-created'
        lastModified:
          $ref: '#/components/schemas/components-schemas-lastModified'
        version:
          $ref: '#/components/schemas/schemas-version'
    ChargeCreateAtmResponse:
      type: object
      required:
      - key
      - created
      - version
      - merchantAcceptorRef
      - card
      - amount
      - type
      - status
      - localTransactionDateTime
      - authorizationIsoFields
      description: 'An ATM charge

        '
      properties:
        key:
          $ref: '#/components/schemas/chargeKey'
        merchantAcceptorRef:
          $ref: '#/components/schemas/components-schemas-AcceptorRef'
        card:
          $ref: '#/components/schemas/OutputCardAtm'
        type:
          $ref: '#/components/schemas/ChargeAtmType'
        amount:
          allOf:
          - description: The amount encoded as an object with a `value` in minor units and a `currency` code. For ATM withdrawals, this is the authorized amount.
          - $ref: '#/components/schemas/AtmAmount'
        dcc:
          allOf:
          - description: Dynamic Currency Conversion details. Only present if DCC was enabled on the request.
          - $ref: '#/components/schemas/Dcc'
        status:
          $ref: '#/components/schemas/StatusAtm'
        localTransactionDateTime:
          $ref: '#/components/schemas/localTransactionDateTime'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
        newEmvData:
          $ref: '#/components/schemas/newEmvData'
        issuerMessage:
          type: string
          description: Optional message from the card issuer
        authorizationIsoFields:
          $ref: '#/components/schemas/AtmAuthorizationIsoFields'
        clearingMode:
          $ref: '#/components/schemas/clearingMode'
        clearAfter:
          $ref: '#/components/schemas/clearAfter'
        created:
          $ref: '#/components/schemas/openapi_components-schemas-created'
        version:
          $ref: '#/components/schemas/schemas-version'
    StoredTokenDetailsNetwork:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Details about a token from one of the card networks
          enum:
          - network
        eci:
          $ref: '#/components/schemas/schemas-eci'
    allowPartialApproval:
      type: boolean
      default: false
      description: 'Indicates whether to allow partial approvals for this charge.

        If set to `true` the charge''s and the authorization action''s `amount` field will contain the approved amount.

        It is only implemented for Visa and Mastercard. It will be ignored for other card networks.

        '
    threeDsComplianceReason:
      description: 'Indicates the reason for the SCA compliance.

        '
      type: string
      enum:
      - mandated
      - none
      - ucof
      - recurring
      - installment
      - incremental
      - delayed-charges
      - no-show
      - reauthorization
      - resubmission
      - whitelist
      - auto
      - mit
      - tra
      - low-value
      - delegation
      - scp
    PayoutReceiverInput:
      type: object
      description: 'Details of the recipient of the payout.


        **Must be provided for Mastercard transactions.**

        '
      properties:
        type:
          allOf:
          - description: The type of the receiver. **Mastercard only.** <a class="experimental-tag-link" href="https://docs.silverflow.com/guides/api-lifecycle#tag/EXPERIMENTAL-Tag"><span class="tag experimental-tag">EXPERIMENTAL</span></a>
          - $ref: '#/components/schemas/SenderReceiverType'
        organizationName:
          allOf:
          - description: 'The name of the organization.

              Required when the `receiver.type` = `"organization"`. **Mastercard only.** <a class="experimental-tag-link" href="https://docs.silverflow.com/guides/api-lifecycle#tag/EXPERIMENTAL-Tag"><span class="tag experimental-tag">EXPERIMENTAL</span></a>

              '
          - $ref: '#/components/schemas/SenderReceiverOrganizationName'
        firstName:
          allOf:
          - description: 'Recipient''s first name.


              **Must be provided for Mastercard transactions.**

              '
          - $ref: '#/components/schemas/schemas-NameOfPeopleAndPlaces'
        middleName:
          allOf:
          - description: Recipient's middle name.
          - $ref: '#/components/schemas/schemas-NameOfPeopleAndPlaces'
        lastName:
          allOf:
          - description: 'Recipient''s last name.


              **Must be provided for Mastercard transactions.**

              '
          - $ref: '#/components/schemas/schemas-NameOfPeopleAndPlaces'
        accountNumber:
          allOf:
          - description: The account number of the recipient.
          - $ref: '#/components/schemas/AccountNumber'
        accountNumberType:
          $ref: '#/components/schemas/charges-payout_AccountNumberType'
        address:
          allOf:
          - description: The address of the recipient.
          - $ref: '#/components/schemas/schemas-AddressInput'
        identification:
          allOf:
          - description: Identification used to verify the receiver.
          - $ref: '#/components/schemas/charges-payout_Identification'
    terminalAction:
      description: Indicates if the issuer requests a PIN in Single Tap mode, or switching interface.
      type: string
      enum:
      - requestPin
      - switchInterface
    IncompatibleCardErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/charge/incompatible-card
        title:
          allOf:
          - $ref: '#/components/schemas/errorTitle'
          - enum:
            - Incompatible Card
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    ChargeCreateBEPRequest:
      type: object
      required:
      - bepKey
      - type
      properties:
        bepKey:
          $ref: '#/components/schemas/schemas-bepKey'
        type:
          $ref: '#/components/schemas/BepChargeType'
        transactionReference:
          $ref: '#/components/schemas/transactionReference'
    sequencePos:
      description: 'This property indicates that the cardholder has entered Online PIN, when required by the issuer for a Mastercard Single Tap transaction.

        '
      type: string
      enum:
      - subsequent
    EnhancedDataShippingAddress:
      type: object
      description: Must be provided if shipment is involved and captured on the invoice
      properties:
        postalCode:
          allOf:
          - description: Shipping postal code.
          - $ref: '#/components/schemas/openapi_components-schemas-postalCode'
    PayoutSenderAddress:
      type: object
      required:
      - countryCode
      - city
      - line1
      - postalCode
      additionalProperties: false
      description: 'A physical postal address returned in payout sender responses. Fields are typed as strings

        without pattern validation, as payout sender address may originate from the merchant (set to the merchant''s registered address when the field was not set in the request).

        '
      properties:
        countryCode:
          $ref: '#/components/schemas/schemas-CountryCode'
        stateOrProvince:
          type: string
          minLength: 1
          maxLength: 120
          description: The state (US) or province (non-US) of the address.
        city:
          type: string
          minLength: 1
          maxLength: 120
          description: The city of the address.
        line1:
          type: string
          minLength: 1
          maxLength: 120
          description: Address line 1
        line2:
          type: string
          minLength: 1
          maxLength: 120
          description: Address line 2
        postalCode:
          type: string
          minLength: 1
          maxLength: 10
          description: The postal code of the address.
    SenderReceiverOrganizationName:
      allOf:
      - description: The name of the organization.
      - minLength: 1
      - maxLength: 140
      - $ref: '#/components/schemas/schemas-NameOfPeopleAndPlaces'
    intentPos:
      description: 'The intention of the cardholder

        '
      type: string
      enum:
      - purchase
      - reservation
      - refund
    TerminalCapability:
      type: string
      enum:
      - contactChip
      - contactlessChip
      - contactMagStripe
      - contactlessMagStripe
      - offlineEncipheredPin
      - offlinePlaintextPin
      - onlinePin
      - signature
      - keyEntry
      - noCvm
      - oneTap
    schemas-InvalidRequestErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/charge/invalid-request
        title:
          $ref: '#/components/schemas/errorTitle'
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 400
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    components-schemas-acceptorKeyRef:
      description: 'Uniquely identifies a merchant acceptor.

        '
      type: string
      pattern: ^mac-[a-zA-Z0-9]+$
      minLength: 5
      maxLength: 120
      example: mac-1eOdAHhgstYTUhlphPFf
    OutputCardAtm:
      type: object
      required:
      - maskedNumber
      additionalProperties: false
      description: 'Card data for ATM transactions. ATM transactions do not support processor tokenization.

        '
      properties:
        maskedNumber:
          type: string
          description: 'The card number used to create this charge, masked according to PCI standards. For card numbers with 16 or more digits, the first 8 and the last 4 digits are visible. For card numbers with 13-15 digits, the first 6 and the last 4 digits are visible. For cards numbers with less than 13 digits, the first 6 and last 2 digits are visible.

            '
    PinBlockIso0Iso1:
      type: object
      title: ISO-0/ISO-1 PIN Block
      description: PIN block related data in `ISO-0` or `ISO-1` format.
      additionalProperties: false
      required:
      - format
      - block
      - zoneId
      - keyId
      properties:
        format:
          type: string
          description: Indicates the type of PIN block format used.
          enum:
          - ISO-0
          - ISO-1
        block:
          $ref: '#/components/schemas/PinBlockDataIso0Iso1'
        zoneId:
          $ref: '#/components/schemas/PinBlockZoneId'
        keyId:
          $ref: '#/components/schemas/PinBlockKeyId'
    MissingPosAddressErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/merchant-acceptor/missing-pos-address
        title:
          allOf:
          - $ref: '#/components/schemas/errorTitle'
          - enum:
            - Missing Point of Sale Address
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    schemas-IncompatibleCardNetworkErrorDetails:
      type: object
      required:
      - type
      - title
      - status
      - detail
      - instance
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/errorType'
          - enum:
            - /silverflow/problems/bin/unexpected-network
        title:
          $ref: '#/components/schemas/errorTitle'
        status:
          allOf:
          - $ref: '#/components/schemas/errorStatus'
          - enum:
            - 409
        detail:
          $ref: '#/components/schemas/errorDetail'
        instance:
          $ref: '#/components/schemas/errorInstance'
    ChargeAuthentication:
      type: object
      required:
      - sca
      - cvc
      - avs
      description: 'Object container for authentication. If present, contains Strong Customer Authentication (SCA) information, but also indicates whether CVC and AVS was used.

        '
      properties:
        sca:
          $ref: '#/components/schemas/sca'
        cvc:
          $ref: '#/components/schemas/cvcResult'
        avs:
          $ref: '#/components/schemas/avsResult'
    FundingSenderInput:
      type: object
      description: 'The details of the sender of the funds.


        **Must be provided for Visa transactions.**

        '
      required:
      - firstName
      - lastName
      - address
      properties:
        type:
          allOf:
[...]
