openapi: 3.2.0
info:
  title: Silverflow AMMF Submission Events API
  version: 1.417.0
  contact:
    name: API Support
    email: support@silverflow.com
  license:
    name: Commercial
  description: 'Operations tagged AMMF Submission Events across 2 of this provider''s published API definitions: silverflow-openapi.yml, silverflow-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eu-west-1.api.silverflow.com/v1
  description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
- url: https://us-east-2.api.silverflow.com/v1
  description: Production URL for North America
- url: https://eu-west-1.api-sbx.silverflow.com/v1
  description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
security:
- ApiKey: []
- BearerToken: []
tags:
- name: AMMF Submission Events
  description: ' '
paths: {}
webhooks:
  events.ammfSubmissions.submitted:
    post:
      summary: Submission Submitted
      security: []
      operationId: ammfSubmissionEventSubmitted
      tags:
      - AMMF Submission Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmmfSubmissionSubmittedEventNotification1_0'
            examples:
              submissionSubmitted:
                $ref: '#/components/examples/ammf-submission-submitted'
      responses:
        default:
          description: Event Notification that is sent when a AMMF Submission file is submitted to the card network.
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
  events.ammfSubmissions.approved:
    post:
      summary: Submission Approved
      security: []
      operationId: ammfSubmissionEventApproved
      tags:
      - AMMF Submission Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmmfSubmissionApprovedEventNotification1_0'
            examples:
              submissionSubmitted:
                $ref: '#/components/examples/ammf-submission-approved'
      responses:
        default:
          description: Event Notification that is sent when a AMMF Submission file is approved by the card network.
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
  events.ammfSubmissions.rejected:
    post:
      summary: Submission Rejected
      security: []
      operationId: ammfSubmissionEventRejected
      tags:
      - AMMF Submission Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmmfSubmissionRejectedEventNotification1_0'
            examples:
              submissionSubmitted:
                $ref: '#/components/examples/ammf-submission-rejected'
      responses:
        default:
          description: Event Notification that is sent when a AMMF Submission file is rejected by the card network.
    servers:
    - url: https://eu-west-1.api.silverflow.com/v1
      description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
    - url: https://us-east-2.api.silverflow.com/v1
      description: Production URL for North America
    - url: https://eu-west-1.api-sbx.silverflow.com/v1
      description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
components:
  schemas:
    openapi_components-schemas-version-3:
      type: string
      description: The version of the spec.
      pattern: ^[1-9]+.[0-9]+$
      example: '1.0'
    AmmfSubmissionSubmittedEventNotification1_0:
      allOf:
      - type: object
        properties:
          type:
            enum:
            - com.silverflow.ammfSubmissions.submitted
      - $ref: '#/components/schemas/AmmfSubmissionEventNotification1_0'
    AmmfSubmissionApprovedEventNotification1_0:
      allOf:
      - type: object
        properties:
          type:
            enum:
            - com.silverflow.ammfSubmissions.approved
      - $ref: '#/components/schemas/AmmfSubmissionEventNotification1_0'
    ammfSubmissionKey:
      description: Uniquely identifies a Ammf Submission entity
      type: string
      pattern: ^asm-[a-zA-Z0-9]+$
      example: asm-9RxdinkqFqJxAq2fZadf
    source:
      type: string
      description: Source system of the event.
      pattern: ^https://silverflow.com/[a-zA-Z]+$
    common_agentKey:
      description: Uniquely identifies an Agent.
      type: string
      pattern: ^cgt-[a-zA-Z0-9]+$
      readOnly: true
      example: cgt-EFG67b4yPre23ZDrLX
      title: agentKey
    time:
      type: string
      format: date-time
      description: Date and time when the event was sent.
    eventId:
      type: string
      description: Uniquely identifies an event.
      pattern: ^evt-[a-zA-Z0-9]+$
      minLength: 5
      maxLength: 120
      example: evt-1e1dAHhgstYTUhlphPzZ
    AmmfSubmissionEventNotificationData1_0:
      type: object
      description: The event data.
      required:
      - key
      - reportKey
      - submittedFileName
      properties:
        key:
          $ref: '#/components/schemas/ammfSubmissionKey'
        reportKey:
          $ref: '#/components/schemas/schemas-reportKey'
        submittedFileName:
          type: string
          description: The name of the submitted file
          example: AMMF_A123456_D20250630_S001.xlsx
    schemas-reportKey:
      description: Uniquely identifies a report object
      type: string
      pattern: ^rep-[a-zA-Z0-9]+$
      example: rep-1e1dAHhgstYTUhlphPzZ
    AmmfSubmissionRejectedEventNotification1_0:
      allOf:
      - type: object
        properties:
          type:
            enum:
            - com.silverflow.ammfSubmissions.rejected
      - $ref: '#/components/schemas/AmmfSubmissionEventNotification1_0'
    AmmfSubmissionEventNotification1_0:
      type: object
      allOf:
      - $ref: '#/components/schemas/PublicCloudEvent'
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/AmmfSubmissionEventNotificationData1_0'
        source:
          allOf:
          - $ref: '#/components/schemas/source'
          - enum:
            - https://silverflow.com/ammfSubmissions
        specversion:
          allOf:
          - $ref: '#/components/schemas/openapi_components-schemas-version-3'
          - enum:
            - '1.0'
        subject:
          allOf:
          - description: The subject of the notification, which is a AMMF Submission Key.
          - $ref: '#/components/schemas/ammfSubmissionKey'
        dataschema:
          allOf:
          - $ref: '#/components/schemas/dataschema'
          - example: https://silverflow.com/schemas/events/ammfSubmissions/1.0
          - enum:
            - https://silverflow.com/schemas/events/ammfSubmissions/1.0
    dataContentType:
      type: string
      description: The content type of the event.
      enum:
      - application/json
    dataschema:
      type: string
      description: The event schema with the data version of the event.
    PublicCloudEvent:
      type: object
      required:
      - id
      - source
      - specversion
      - type
      - datacontenttype
      - dataschema
      - subject
      - time
      - agent
      - data
      properties:
        id:
          $ref: '#/components/schemas/eventId'
        specversion:
          allOf:
          - description: The version of the current spec.
          - enum:
            - '1.0'
          - $ref: '#/components/schemas/openapi_components-schemas-version-3'
        datacontenttype:
          $ref: '#/components/schemas/dataContentType'
        dataschema:
          $ref: '#/components/schemas/dataschema'
        time:
          $ref: '#/components/schemas/time'
        agent:
          $ref: '#/components/schemas/common_agentKey'
  examples:
    ammf-submission-approved:
      summary: AMMF Submission Approved
      value:
        id: evt-1e1dAHhgstYTUhlphPzZ
        type: com.silverflow.ammfSubmissions.approved
        agent: cgt-EFG67b4yPre23ZDrLX
        datacontenttype: application/json
        dataschema: https://silverflow.com/schemas/events/ammfSubmissions/1.0
        source: https://silverflow.com/ammfSubmissions
        specversion: '1.0'
        subject: asm-9RxdinkqFqJxAq2fZadf
        time: '2025-12-12T08:50:42.264Z'
        data:
          key: asm-9RxdinkqFqJxAq2fZadf
          reportKey: rep-1e1dAHhgstYTUhlphPzZ
          submittedFileName: AMMF_A123456_D20250630_S001.xlsx
    ammf-submission-rejected:
      summary: AMMF Submission Rejected
      value:
        id: evt-1e1dAHhgstYTUhlphPzZ
        type: com.silverflow.ammfSubmissions.rejected
        agent: cgt-EFG67b4yPre23ZDrLX
        datacontenttype: application/json
        dataschema: https://silverflow.com/schemas/events/ammfSubmissions/1.0
        source: https://silverflow.com/ammfSubmissions
        specversion: '1.0'
        subject: asm-9RxdinkqFqJxAq2fZadf
        time: '2025-12-12T08:50:42.264Z'
        data:
          key: asm-9RxdinkqFqJxAq2fZadf
          reportKey: rep-1e1dAHhgstYTUhlphPzZ
          submittedFileName: AMMF_A123456_D20250630_S001.xlsx
    ammf-submission-submitted:
      summary: AMMF Submission Submitted
      value:
        id: evt-1e1dAHhgstYTUhlphPzZ
        type: com.silverflow.ammfSubmissions.submitted
        agent: cgt-EFG67b4yPre23ZDrLX
        datacontenttype: application/json
        dataschema: https://silverflow.com/schemas/events/ammfSubmissions/1.0
        source: https://silverflow.com/ammfSubmissions
        specversion: '1.0'
        subject: asm-9RxdinkqFqJxAq2fZadf
        time: '2025-12-11T08:50:42.264Z'
        data:
          key: asm-9RxdinkqFqJxAq2fZadf
          reportKey: rep-1e1dAHhgstYTUhlphPzZ
          submittedFileName: AMMF_A123456_D20250630_S001.xlsx
  securitySchemes:
    ApiKey:
      description: "The primary method of authenticating to the Silverflow API is through API keys.\n\nAPI keys can be created by calling the [createApiKey](#operation/createApiKey) endpoint. You can create up to 40 API keys and also update and delete them, allowing for _credential rotation_.\n\nThe _Agent Activation_ process will generate an initial API Key for you. See [Activate Agent](#section/Getting-Started).\n\nA call to the [createApiKey](#operation/createApiKey) endpoint will return the following structure:\n\n```json\n{\n    \"key\": \"apk-1wtRxni5IsPsSpBLWpwr\",\n    \"status\": \"active\",\n    \"agentKey\": \"cgt-1wtRvFLIjDOyyUR5Q2LB\",\n    \"description\": \"Data lake API key\",\n    \"permissions\": [\n        \"charges:List\",\n        \"reports:All\"\n    ],\n    \"created\": \"2021-06-22T11:21:45.115Z\",\n    \"secret\": \"FWtnOOHAjbD6rNxWWEeVOCj7JXSEPGJQ\",\n    \"version\": 1\n}\n```\n\n> **Important:** The `secret` is only returned once in the response to the `createApiKey` call.\n\nOnce created, the `key` and `secret` fields from the API key must be used in the HTTP `Authorization` header using the `Basic` scheme.\nThe Basic scheme requires a **username** and **password** to be specified, separated by a `:` (colon) and Base64 encoded.\n\nUse the following values from the API key to construct a Basic authentication header:\n\n| Basic field | API key field | Example |\n| ----------- | ------------- | ------- |\n| username | `key` | `apk-1wtRxni5IsPsSpBLWpwr` |\n| password | `secret` | `FWtnOOHAjbD6rNxWWEeVOCj7JXSEPGJQ` |\n\nIn pseudo-code a valid HTTP Basic Authentication header would be constructed as follows:\n\n```ts\nconst apiKeyId = \"apk-1wtRxni5IsPsSpBLWpwr\";\nconst apiKeySecret = \"FWtnOOHAjbD6rNxWWEeVOCj7JXSEPGJQ\";\nconst authnValue = \"Basic \" + base64Encode(apiKeyId + \":\" + apiKeySecret);\nrequest.setHeader(\"Authorization\", authnValue);\n```\n\nUsing the values from the example a valid HTTP request would look like the following:\n\n```http\nGET /v1/agents/current HTTP/1.1\nAccept: application/json\nAuthorization: Basic YXBrLTF3dFJ4bmk1SXNQc1NwQkxXcHdyOkZXdG5PT0hBamJENnJOeFdXRWVWT0NqN0pYU0VQR0pR\n```\n\nMore information on the Basic scheme can be found in [RFC-7617 - The 'Basic' HTTP Authentication Scheme](https://datatracker.ietf.org/doc/html/rfc7617)."
      type: http
      scheme: basic
    BearerToken:
      description: 'Bearer tokens are temporary security credentials that can be used to authorize ''third parties'' (bearers) access to the Silverflow API on behalf of the agent.


        These tokens are created by calling the [createAgentBearerToken](#operation/createAgentBearerToken) endpoint.


        Once created the `token` field must be used in the HTTP `Authorization` header using the `Bearer` scheme.

        Here''s an example of an HTTP request with a bearer token:


        ```http

        GET /v1/merchants/mct-1hPdFhmgaBzMS191nIbJ HTTP/1.1

        Accept: application/json

        Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...40EFOgxf_3I6mPZ16bXqHd5tUyApgl0mNOAXPm5AhnA


        ```


        More information on the Bearer scheme can be found in [RFC-6750 - The OAuth 2.0 Authorization Framework: Bearer Token Usage](https://datatracker.ietf.org/doc/html/rfc6750).'
      type: http
      scheme: bearer
      bearerFormat: JWT
    MutualTLS:
      type: apiKey
      in: header
      name: '-'
      description: 'The client must set up mTLS connection with a valid X.509 client certificate signed by a customer-provided CA (certificate authority) that is registered to a specific agent. The customer-provided CA certificate must be shared and added to Silverflow''s trust store prior to calling endpoints.


        Certificate validation happens at the transport layer during TLS handshake. Tenant verification is performed by matching the agent key embedded in the client certificate against the agent key embedded in the trusted CA.

        '
x-refined-from:
- silverflow-openapi.yml
- silverflow-openapi.yml
x-tagGroups:
- name: ''
  tags:
  - Introduction
  - Release Notes
- name: Accounts
  tags:
  - Agents
  - API Keys
  - Bins
  - Merchants
  - Merchant Acceptors
  - Enrollments
  - Screenings
- name: Event Notifications
  tags:
  - Event Subscriptions
  - Charges Events
  - Disputes Events
  - Fraud Notification Events
  - Processor Tokens Events
  - Network Tokens Events
  - Report Events
  - Distribution Events
  - AMMF Submission Events
  - Reconciliation Events
  - Clearing Events
- name: 3DS Authentication
  tags:
  - 3DS Authentication
- name: BEP Authentication
  tags:
  - BEP Authentication
- name: Tokenization
  tags:
  - Processor Tokenization
  - Network Tokenization
- name: Charges
  tags:
  - Create Charges
  - Create Recurring
  - Retrieve Charges
  - Charge Actions
- name: Terminal-To-Cloud
  tags:
  - Create POS Charges
  - Retrieve POS Charges
  - POS Charge Actions
- name: Card Management
  tags:
  - Card Management
- name: Disputes
  tags:
  - Disputes
  - Documents
- name: Fraud Notifications
  tags:
  - Fraud Notifications
- name: Card Info
  tags:
  - Card Info
- name: Currency Conversion Rates
  tags:
  - Currency Conversion Rates
- name: Fees
  tags:
  - Fees
- name: Reconciliation
  tags:
  - Reconciliation Details
  - Network Funds Transfers
- name: Reports
  tags:
  - Reconciliation Reports
  - Settlement Reports
  - Card Network Reports
  - Dispute Reports
  - Fraud Notifications Reports
  - Charges Reports
  - Scheme Fee Reports
  - Retrieve Reports
  - Report Scheduling
  - Distributions
- name: Transaction Risk Assessment
  tags:
  - Transaction Risk Assessment
- name: File Subscriptions
  tags:
  - File Subscriptions
