openapi: 3.2.0
info:
  description: '**This OpenAPI specification cannot be used for code generation.** Please reach out to your TAM regarding code generation using the API Spec.'
  version: 1.417.0
  title: Silverflow Card Info API
  contact:
    name: API Support
    email: support@silverflow.com
  license:
    name: Commercial
servers:
- url: https://eu-west-1.api.silverflow.com/v1
  description: Production URL for Europe - Equivalent to https://api.silverflow.co/v1
- url: https://us-east-2.api.silverflow.com/v1
  description: Production URL for North America
- url: https://eu-west-1.api-sbx.silverflow.com/v1
  description: Sandbox URL - Equivalent to https://api-sbx.silverflow.co/v1
security:
- ApiKey: []
- BearerToken: []
tags:
- name: Card Info
  description: Provides information from the card networks about Card Ranges.
paths:
  /cardInfo:
    post:
      operationId: postCardInfo
      summary: Request Card Info
      description: 'Request information provided by the card networks on a Card Range.

        Requires `cardInfo:GetInfo` permission.'
      tags:
      - Card Info
      requestBody:
        required: true
        description: A request for information on a certain card range based on a (partial) card number or a processor token key.
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CardInfoRequestByCard'
              - $ref: '#/components/schemas/CardInfoRequestByProcessorToken'
            examples:
              cardNumberMasterCard:
                $ref: '#/components/examples/request-card-info-mastercard'
      responses:
        '200':
          description: Information on the requested Card Range
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/MultiSourceResponse'
                - $ref: '#/components/schemas/SingleSourceResponse'
              examples:
                mastercard:
                  $ref: '#/components/examples/card-info-response-mastercard'
                visa:
                  $ref: '#/components/examples/card-info-response-visa'
        '400':
          $ref: '#/components/responses/responses-BadRequestError'
        '401':
          $ref: '#/components/responses/responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/responses-ForbiddenError'
        '404':
          $ref: '#/components/responses/responses-NotFoundError'
        '429':
          $ref: '#/components/responses/responses-TooManyRequestsError'
  /cardInfo/{network}:
    get:
      operationId: getCardInfo
      summary: Request all card info for a card network
      description: 'Request information provided by the card network on all available Card Ranges.


        Since the response can be very large, this endpoint supports HTTP Compression with the `gzip` format.


        Requires `cardInfo:GetInfo` permission.'
      tags:
      - Card Info
      parameters:
      - $ref: '#/components/parameters/bulkCardInfoNetwork'
      responses:
        '200':
          description: Information on all Card Ranges of Card Network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoCardNetworkResponse'
              examples:
                mastercard:
                  $ref: '#/components/examples/card-info-card-network-response-mastercard'
                visa:
                  $ref: '#/components/examples/card-info-card-network-response-visa'
        '400':
          $ref: '#/components/responses/responses-BadRequestError'
        '401':
          $ref: '#/components/responses/responses-UnauthorizedError'
        '403':
          $ref: '#/components/responses/responses-ForbiddenError'
        '429':
          $ref: '#/components/responses/responses-TooManyRequestsError'
components:
  schemas:
    components-schemas-countryCodeAlpha2:
      type: string
      pattern: ^[A-Z]{2}$
      description: 'The ISO code of the country.


        **European ISO Country Codes**


        <details>


        | Country                                          | Alpha-2 code | Numeric |

        | ------------------------------------------------ | ------------ | ------- | --- |

        | Åland Islands                                    | AX           | 248     |

        | Andorra                                          | AD           | 020     |

        | Austria                                          | AT           | 040     |

        | Belgium                                          | BE           | 056     |

        | Cyprus                                           | CY           | 196     |

        | Estonia                                          | EE           | 233     |     |

        | Finland                                          | FI           | 246     |

        | France                                           | FR           | 250     |

        | French Guiana                                    | GF           | 254     |

        | French Southern Territories                      | TF           | 260     |

        | Germany                                          | DE           | 280     |

        | Greece                                           | GR           | 300     |

        | Guadeloupe                                       | GP           | 312     |

        | Ireland                                          | IE           | 372     |

        | Italy                                            | IT           | 380     |

        | Kosovo, United Nations Mission in Kosovo (UNMIK) | QZ           | 900     |

        | Latvia                                           | LV           | 428     |

        | Lithuania                                        | LT           | 440     |

        | Luxembourg                                       | LU           | 442     |

        | Malta                                            | MT           | 470     |

        | Martinique                                       | MQ           | 474     |

        | Mayotte                                          | YT           | 175     |

        | Monaco                                           | MC           | 492     |

        | Montenegro                                       | ME           | 499     |

        | Netherlands                                      | NL           | 528     |

        | Portugal                                         | PT           | 620     |

        | Reunion                                          | RE           | 638     |

        | Saint Barthélemy                                 | BL           | 652     |

        | Saint Martin (French Part)                       | MF           | 663     |

        | San Marino                                       | SM           | 674     |

        | Slovakia                                         | SK           | 703     |

        | Slovenia                                         | SI           | 705     |

        | Spain                                            | ES           | 724     |

        | St. Pierre and Miquelon                          | PM           | 666     |

        | Vatican City State (Holy See)                    | VA           | 336     |


        </details>


        **US ISO Country Codes**


        <details>


        | Country                         | Alpha-2 code | Numeric |

        | ------------------------------- | ------------ | ------- |

        | American Samoa                  | AS           | 016     |

        | Bonaire, St. Eusasius and Saba  | BQ           | 535     |

        | British Indian Ocean Territory  | IO           | 086     |

        | Ecuador                         | EC           | 218     |

        | Guam                            | GU           | 316     |

        | Marshall Islands                | MH           | 584     |

        | Micronesia, Federated States of | FM           | 583     |

        | Northern Mariana Islands        | MP           | 580     |

        | Palau                           | PW           | 585     |

        | Palestine, State of             | PS           | 275     |

        | Puerto Rico                     | PR           | 630     |

        | Timor-Leste                     | TP           | 626     |

        | Turks and Caicos Islands        | TC           | 796     |

        | U.S. Minor Outlying Islands     | UM           | 581     |

        | United States                   | US           | 840     |

        | Virgin Islands, British         | VG           | 092     |

        | Virgin Islands, U.S.            | VI           | 850     |


        </details>


        **Other ISO Country Codes**


        <details>


        | Country                                      | Alpha-2 code | Numeric |

        | -------------------------------------------- | ------------ | ------- |

        | Afghanistan                                  | AF           | 004     |

        | Albania                                      | AL           | 008     |

        | Algeria                                      | DZ           | 012     |

        | Angola                                       | AO           | 024     |

        | Anguilla                                     | AI           | 660     |

        | Antarctica                                   | AQ           | 010     |

        | Antigua and Barbuda                          | AG           | 028     |

        | Argentina                                    | AR           | 032     |

        | Armenia                                      | AM           | 051     |

        | Aruba                                        | AW           | 533     |

        | Australia                                    | AU           | 036     |

        | Azerbaijan                                   | AZ           | 031     |

        | Bahamas                                      | BS           | 044     |

        | Bahrain                                      | BH           | 048     |

        | Bangladesh                                   | BD           | 050     |

        | Barbados                                     | BB           | 052     |

        | Belarus                                      | BR           | 112     |

        | Belize                                       | BZ           | 084     |

        | Benin                                        | BJ           | 204     |

        | Bermuda                                      | BM           | 060     |

        | Bhutan                                       | BT           | 064     |

        | Bolivia, Plurinational State of              | BO           | 068     |

        | Bosnia and Herzegovina                       | BA           | 070     |

        | Botswana                                     | BW           | 072     |

        | Bouvet Island                                | BV           | 074     |

        | Brazil                                       | BR           | 076     |

        | Brunei Darussalam                            | BN           | 096     |

        | Bulgaria                                     | BG           | 100     |

        | Burkina Faso                                 | BF           | 854     |

        | Burundi                                      | BI           | 108     |

        | Cambodia                                     | KH           | 116     |

        | Cameroon                                     | CM           | 120     |

        | Canada                                       | CA           | 124     |

        | Cape Verde                                   | CV           | 132     |

        | Cayman Islands                               | KY           | 136     |

        | Central African Republic                     | CF           | 140     |

        | Chad                                         | TD           | 148     |

        | Chile                                        | CL           | 152     |

        | China                                        | CN           | 156     |

        | Christmas Island                             | CX           | 162     |

        | Cocos (Keeling) Islands                      | CC           | 166     |

        | Colombia                                     | CO           | 170     |

        | Comoros                                      | KM           | 174     |

        | Congo                                        | CG           | 178     |

        | Cook Islands                                 | CK           | 184     |

        | Costa Rica                                   | CR           | 188     |

        | Côte D''Ivoire                                | CI           | 384     |

        | Croatia                                      | HR           | 191     |

        | Cuba                                         | CU           | 192     |

        | Curacao                                      | CW           | 531     |

        | Czech Republic                               | CZ           | 203     |

        | Democratic Republic of the Congo             | CD           | 180     |

        | Denmark                                      | DK           | 208     |

        | Djibouti                                     | DJ           | 262     |

        | Dominica                                     | DM           | 212     |

        | Dominican Republic                           | DO           | 214     |

        | Egypt                                        | EG           | 818     |

        | El Salvador                                  | SV           | 222     |

        | Equatorial Guinea                            | GQ           | 226     |

        | Eritrea                                      | ER           | 232     |

        | Ethiopia                                     | ET           | 230     |

        | Falkland Islands (Malvinas)                  | FK           | 238     |

        | Faroe Islands                                | FO           | 234     |

        | Fiji                                         | FJ           | 242     |

        | French Polynesia                             | PF           | 258     |

        | Gabon                                        | GA           | 266     |

        | Gambia                                       | GM           | 270     |

        | Georgia                                      | GE           | 268     |

        | Ghana                                        | GH           | 288     |

        | Gibraltar                                    | GI           | 292     |

        | Greenland                                    | GL           | 304     |

        | Grenada                                      | GD           | 308     |

        | Guatemala                                    | GT           | 320     |

        | Guernsey                                     | GG           | 831     |

        | Guinea                                       | GN           | 324     |

        | Guinea-Bissau                                | GW           | 624     |

        | Guyana                                       | GY           | 328     |

        | Haiti                                        | HT           | 332     |

        | Heard and McDonald Islands                   | HM           | 334     |

        | Honduras                                     | HN           | 340     |

        | Hong Kong                                    | HK           | 344     |

        | Hungary                                      | HU           | 348     |

        | Iceland                                      | IS           | 352     |

        | India                                        | IN           | 356     |

        | Indonesia                                    | ID           | 360     |

        | Iraq                                         | IQ           | 368     |

        | Isle of Man                                  | IM           | 833     |

        | Israel                                       | IL           | 376     |

        | Jamaica                                      | JM           | 388     |

        | Japan                                        | JP           | 392     |

        | Jersey                                       | JE           | 832     |

        | Jordan                                       | JO           | 400     |

        | Kazakhstan                                   | KZ           | 398     |

        | Kenya                                        | KE           | 404     |

        | Kiribati                                     | KI           | 296     |

        | Korea, Republic of                           | KR           | 410     |

        | Kuwait                                       | KW           | 414     |

        | Kyrgyzstan                                   | KG           | 417     |

        | Lao People''s Democratic Republic             | LA           | 418     |

        | Lebanon                                      | LB           | 422     |

        | Lesotho                                      | LS           | 426     |

        | Liberia                                      | LR           | 430     |

        | Libyan Arab Jamahiriya                       | LY           | 434     |

        | Liechtenstein                                | LI           | 438     |

        | Macao                                        | MO           | 446     |

        | Macedonia                                    | MK           | 807     |

        | Madagascar                                   | MG           | 450     |

        | Malawi                                       | MW           | 454     |

        | Malaysia                                     | MY           | 458     |

        | Maldives                                     | MV           | 462     |

        | Mali                                         | ML           | 466     |

        | Mauritania                                   | MR           | 478     |

        | Mauritius                                    | MU           | 480     |

        | Mexico                                       | MX           | 484     |

        | Moldova, Republic of                         | MD           | 498     |

        | Mongolia                                     | MN           | 496     |

        | Montserrat                                   | MS           | 500     |

        | Morocco                                      | MA           | 504     |

        | Mozambique                                   | MZ           | 508     |

        | Myanmar (effective 1 November 2012)          | MM           | 104     |

        | Namibia                                      | NA           | 516     |

        | Nauru                                        | NR           | 520     |

        | Nepal                                        | NP           | 524     |

        | Netherlands Antilles                         | AN           | 530     |

        | New Caledonia                                | NC           | 540     |

        | New Zealand                                  | NZ           | 554     |

        | Nicaragua                                    | NI           | 558     |

        | Niger                                        | NE           | 562     |

        | Nigeria                                      | NG           | 566     |

        | Niue                                         | NU           | 570     |

        | Norfolk Island                               | NF           | 574     |

        | Norway                                       | NO           | 578     |

        | Oman                                         | OM           | 512     |

        | Pakistan                                     | PK           | 586     |

        | Panama                                       | PA           | 591     |

        | Papua New Guinea                             | PG           | 598     |

        | Paraguay                                     | PY           | 600     |

        | Peru                                         | PE           | 604     |

        | Philippines                                  | PH           | 608     |

        | Pitcairn                                     | PN           | 612     |

        | Poland                                       | PL           | 616     |

        | Qatar                                        | QA           | 634     |

        | Republic of South Sudan                      | SS           | 728     |

        | Romania                                      | RO           | 642     |

        | Russian Federation                           | RU           | 643     |

        | Rwanda                                       | RW           | 646     |

        | Samoa                                        | WS           | 882     |

        | Sao Tome and Principe                        | ST           | 678     |

        | Saudi Arabia                                 | SA           | 682     |

        | Senegal                                      | SN           | 686     |

        | Serbia                                       | RS           | 688     |

        | Seychelles                                   | SC           | 690     |

        | Sierra Leone                                 | SL           | 694     |

        | Singapore                                    | SG           | 702     |

        | Sint Maarten (Dutch Part)                    | SX           | 534     |

        | Solomon Islands                              | SB           | 090     |

        | Somalia                                      | SO           | 706     |

        | South Africa                                 | ZA           | 710     |

        | South Georgia and the South Sandwich Islands | GS           | 239     |

        | Sri Lanka                                    | LK           | 144     |

        | Saint Helena, Ascension and Tristan Da Cunha | SH           | 654     |

        | St. Kitts and Nevis                          | KN           | 659     |

        | St. Lucia                                    | LC           | 662     |

        | St. Vincent and the Grenadines               | VC           | 670     |

        | Suriname                                     | SR           | 740     |

        | Svalbard and Jan Mayen                       | SJ           | 744     |

        | Swaziland                                    | SZ           | 748     |

        | Sweden                                       | SE           | 752     |

        | Switzerland                                  | CH           | 756     |

        | Taiwan                                       | TW           | 158     |

        | Tajikistan                                   | TJ           | 762     |

        | Tanzania, United Republic of                 | TZ           | 834     |

        | Thailand                                     | TH           | 764     |

        | Togo                                         | TG           | 768     |

        | Tokelau                                      | TK           | 772     |

        | Tonga                                        | TO           | 776     |

        | Trinidad and Tobago                          | TT           | 780     |

        | Tunisia                                      | TN           | 788     |

        | Turkey                                       | TR           | 792     |

        | Turkmenistan                                 | TM           | 795     |

        | Tuvalu                                       | TV           | 798     |

        | Uganda                                       | UG           | 800     |

        | Ukraine                                      | UA           | 804     |

        | United Arab Emirates                         | AE           | 784     |

        | United Kingdom                               | GB           | 826     |

        | Uruguay                                      | UY           | 858     |

        | Uzbekistan                                   | UZ           | 860     |

        | Vanuatu                                      | VU           | 548     |

        | Venezuela, Bolivarian Republic of            | VE           | 862     |

        | Vietnam                                      | VN           | 704     |

        | Wallis and Futuna                            | WF           | 876     |

        | Western Sahara                               | EH           | 732     |

        | Yemen                                        | YE           | 886     |

        | Zambia                                       | ZM           | 894     |

        | Zimbabwe                                     | ZW           | 716     |


        </details>

        '
      externalDocs:
        description: Find more info here
        url: https://www.iso.org/iso-3166-country-codes.html
      example: NL
    components-schemas-countryCodeAlpha3:
      type: string
      pattern: ^[A-Z]{3}$
      description: 'The ISO code of the country.


        **European ISO Country Codes**


        <details>


        | Country                                          | Alpha-2 code | Numeric |

        | ------------------------------------------------ | ------------ | ------- | --- |

        | Åland Islands                                    | AX           | 248     |

        | Andorra                                          | AD           | 020     |

        | Austria                                          | AT           | 040     |

        | Belgium                                          | BE           | 056     |

        | Cyprus                                           | CY           | 196     |

        | Estonia                                          | EE           | 233     |     |

        | Finland                                          | FI           | 246     |

        | France                                           | FR           | 250     |

        | French Guiana                                    | GF           | 254     |

        | French Southern Territories                      | TF           | 260     |

        | Germany                                          | DE           | 280     |

        | Greece                                           | GR           | 300     |

        | Guadeloupe                                       | GP           | 312     |

        | Ireland                                          | IE           | 372     |

        | Italy                                            | IT           | 380     |

        | Kosovo, United Nations Mission in Kosovo (UNMIK) | QZ           | 900     |

        | Latvia                                           | LV           | 428     |

        | Lithuania                                        | LT           | 440     |

        | Luxembourg                                       | LU           | 442     |

        | Malta                                            | MT           | 470     |

        | Martinique                                       | MQ           | 474     |

        | Mayotte                                          | YT           | 175     |

        | Monaco                                           | MC           | 492     |

        | Montenegro                                       | ME           | 499     |

        | Netherlands                                      | NL           | 528     |

        | Portugal                                         | PT           | 620     |

        | Reunion                                          | RE           | 638     |

        | Saint Barthélemy                                 | BL           | 652     |

        | Saint Martin (French Part)                       | MF           | 663     |

        | San Marino                                       | SM           | 674     |

        | Slovakia                                         | SK           | 703     |

        | Slovenia                                         | SI           | 705     |

        | Spain                                            | ES           | 724     |

        | St. Pierre and Miquelon                          | PM           | 666     |

        | Vatican City State (Holy See)                    | VA           | 336     |


        </details>


        **US ISO Country Codes**


        <details>


        | Country                         | Alpha-2 code | Numeric |

        | ------------------------------- | ------------ | ------- |

        | American Samoa                  | AS           | 016     |

        | Bonaire, St. Eusasius and Saba  | BQ           | 535     |

        | British Indian Ocean Territory  | IO           | 086     |

        | Ecuador                         | EC           | 218     |

        | Guam                            | GU           | 316     |

        | Marshall Islands                | MH           | 584     |

        | Micronesia, Federated States of | FM           | 583     |

        | Northern Mariana Islands        | MP           | 580     |

        | Palau                           | PW           | 585     |

        | Palestine, State of             | PS           | 275     |

        | Puerto Rico                     | PR           | 630     |

        | Timor-Leste                     | TP           | 626     |

        | Turks and Caicos Islands        | TC           | 796     |

        | U.S. Minor Outlying Islands     | UM           | 581     |

        | United States                   | US           | 840     |

        | Virgin Islands, British         | VG           | 092     |

        | Virgin Islands, U.S.            | VI           | 850     |


        </details>


        **Other ISO Country Codes**


        <details>


        | Country                                      | Alpha-2 code | Numeric |

        | -------------------------------------------- | ------------ | ------- |

        | Afghanistan                                  | AF           | 004     |

        | Albania                                      | AL           | 008     |

        | Algeria                                      | DZ           | 012     |

        | Angola                                       | AO           | 024     |

        | Anguilla                                     | AI           | 660     |

        | Antarctica                                   | AQ           | 010     |

        | Antigua and Barbuda                          | AG           | 028     |

        | Argentina                                    | AR           | 032     |

        | Armenia                                      | AM           | 051     |

        | Aruba                                        | AW           | 533     |

        | Australia                                    | AU           | 036     |

        | Azerbaijan                                   | AZ           | 031     |

        | Bahamas                                      | BS           | 044     |

        | Bahrain                                      | BH           | 048     |

        | Bangladesh                                   | BD           | 050     |

        | Barbados                                     | BB           | 052     |

        | Belarus                                      | BR           | 112     |

        | Belize                                       | BZ           | 084     |

        | Benin                                        | BJ           | 204     |

        | Bermuda                                      | BM           | 060     |

        | Bhutan                                       | BT           | 064     |

        | Bolivia, Plurinational State of              | BO           | 068     |

        | Bosnia and Herzegovina                       | BA           | 070     |

        | Botswana                                     | BW           | 072     |

        | Bouvet Island                                | BV           | 074     |

        | Brazil                                       | BR           | 076     |

        | Brunei Darussalam                            | BN           | 096     |

        | Bulgaria                                     | BG           | 100     |

        | Burkina Faso                                 | BF           | 854     |

        | Burundi                                      | BI           | 108     |

        | Cambodia                                     | KH           | 116     |

        | Cameroon                                     | CM           | 120     |

        | Canada                                       | CA           | 124     |

        | Cape Verde                                   | CV           | 132     |

        | Cayman Islands                               | KY           | 136     |

        | Central African Republic                     | CF           | 140     |

        | Chad                                         | TD           | 148     |

        | Chile                                        | CL           | 152     |

        | China                                        | CN           | 156     |

        | Christmas Island                             | CX           | 162     |

        | Cocos (Keeling) Islands                      | CC           | 166     |

        | Colombia                                     | CO           | 170     |

        | Comoros                                      | KM           | 174     |

        | Congo                                        | CG           | 178     |

        | Cook Islands                                 | CK           | 184     |

        | Costa Rica                                   | CR           | 188     |

        | Côte D''Ivoire                                | CI           | 384     |

        | Croatia                                      | HR           | 191     |

        | Cuba                                         | CU           | 192     |

        | Curacao                                      | CW           | 531     |

        | Czech Republic                               | CZ           | 203     |

        | Democratic Republic of the Congo             | CD           | 180     |

        | Denmark                                      | DK           | 208     |

        | Djibouti                                     | DJ           | 262     |

        | Dominica                                     | DM           | 212     |

        | Dominican Republic                           | DO           | 214     |

        | Egypt                                        | EG           | 818     |

        | El Salvador                                  | SV           | 222     |

        | Equatorial Guinea                            | GQ           | 226     |

        | Eritrea                                      | ER           | 232     |

        | Ethiopia                                     | ET           | 230     |

        | Falkland Islands (Malvinas)                  | FK           | 238     |

        | Faroe Islands                                | FO           | 234     |

        | Fiji                                         | FJ           | 242     |

        | French Polynesia                             | PF           | 258     |

        | Gabon                                        | GA           | 266     |

        | Gambia                                       | GM           | 270     |

        | Georgia                                      | GE           | 268     |

        | Ghana                                        | GH           | 288     |

        | Gibraltar                                    | GI           | 292     |

        | Greenland                                    | GL           | 304     |

        | Grenada                                      | GD           | 308     |

        | Guatemala                                    | GT           | 320     |

        | Guernsey                                     | GG           | 831     |

        | Guinea                                       | GN           | 324     |

        | Guinea-Bissau                                | GW           | 624     |

        | Guyana                                       | GY           | 328     |

        | Haiti                                        | HT           | 332     |

        | Heard and McDonald Islands                   | HM           | 334     |

        | Honduras                                     | HN           | 340     |

        | Hong Kong                                    | HK           | 344     |

        | Hungary                                      | HU           | 348     |

        | Iceland                                      | IS           | 352     |

        | India                                        | IN           | 356     |

        | Indonesia                                    | ID           | 360     |

        | Iraq                                         | IQ           | 368     |

        | Isle of Man                                  | IM           | 833     |

        | Israel                                       | IL           | 376     |

        | Jamaica                                      | JM           | 388     |

        | Japan                                        | JP           | 392     |

        | Jersey                                       | JE           | 832     |

        | Jordan                                       | JO           | 400     |

        | Kazakhstan                                   | KZ           | 398     |

        | Kenya                                        | KE           | 404     |

        | Kiribati                                     | KI           | 296     |

        | Korea, Republic of                           | KR           | 410     |

        | Kuwait                                       | KW           | 414     |

        | Kyrgyzstan                                   | KG           | 417     |

        | Lao People''s Democratic Republic             | LA           | 418     |

        | Lebanon                                      | LB           | 422     |

        | Lesotho                                      | LS           | 426     |

        | Liberia                                      | LR           | 430     |

        | Libyan Arab Jamahiriya                       | LY           | 434     |

        | Liechtenstein                                | LI           | 438     |

        | Macao                                        | MO           | 446     |

        | Macedonia                                    | MK           | 807     |

        | Madagascar                                   | MG           | 450     |

        | Malawi                                       | MW           | 454     |

        | Malaysia                                     | MY           | 458     |

        | Maldives                                     | MV           | 462     |

        | Mali                                         | ML           | 466     |

        | Mauritania                                   | MR           | 478     |

        | Mauritius                                    | MU           | 480     |

        | Mexico                                       | MX           | 484     |

        | Moldova, Republic of                         | MD           | 498     |

        | Mongolia                                     | MN           | 496     |

        | Montserrat                                   | MS           | 500     |

        | Morocco                                      | MA           | 504     |

        | Mozambique                                   | MZ           | 508     |

        | Myanmar (effective 1 November 2012)          | MM           | 104     |

        | Namibia                                      | NA           | 516     |

        | Nauru                                        | NR           | 520     |

        | Nepal                                        | NP           | 524     |

        | Netherlands Antilles                         | AN           | 530     |

        | New Caledonia                                | NC           | 540     |

        | New Zealand                                  | NZ           | 554     |

        | Nicaragua                                    | NI           | 558     |

        | Niger                                        | NE           | 562     |

        | Nigeria                                      | NG           | 566     |

        | Niue                                         | NU           | 570     |

        | Norfolk Island                               | NF           | 574     |

        | Norway                                       | NO           | 578     |

        | Oman                                         | OM           | 512     |

        | Pakistan                                     | PK           | 586     |

        | Panama                                       | PA           | 591     |

        | Papua New Guinea                             | PG           | 598     |

        | Paraguay                                     | PY           | 600     |

        | Peru                                         | PE           | 604     |

        | Philippines                                  | PH           | 608     |

        | Pitcairn                                     | PN           | 612     |

        | Poland                                       | PL           | 616     |

        | Qatar                                        | QA           | 634     |

        | Republic of South Sudan                      | SS           | 728     |

        | Romania                                      | RO           | 642     |

        | Russian Federation                           | RU           | 643     |

        | Rwanda                                       | RW           | 646     |

        | Samoa                                        | WS           | 882     |

        | Sao Tome and Principe                        | ST           | 678     |

        | Saudi Arabia                                 | SA           | 682     |

        | Senegal                                      | SN           | 686     |

        | Serbia                                       | RS           | 688     |

        | Seychelles                                   | SC           | 690     |

        | Sierra Leone                                 | SL           | 694     |

        | Singapore                                    | SG           | 702     |

        | Sint Maarten (Dutch Part)                    | SX           | 534     |

        | Solomon Islands                              | SB           | 090     |

        | Somalia                                      | SO           | 706     |

        | South Africa                                 | ZA           | 710     |

        | South Georgia and the South Sandwich Islands | GS           | 239     |

        | Sri Lanka                                    | LK           | 144     |

        | Saint Helena, Ascension and Tristan Da Cunha | SH           | 654     |

        | St. Kitts and Nevis                          | KN           | 659     |

        | St. Lucia                                    | LC           | 662     |

        | St. Vincent and the Grenadines               | VC           | 670     |

        | Suriname                                     | SR           | 740     |

        | Svalbard and Jan Mayen                       | SJ           | 744     |

        | Swaziland                                    | SZ           | 748     |

        | Sweden                                       | SE           | 752     |

        | Switzerland                                  | CH           | 756     |

        | Taiwan                                       | TW           | 158     |

        | Tajikistan                                   | TJ           | 762     |

        | Tanzania, United Republic of                 | TZ           | 834     |

        | Thailand                                     | TH           | 764     |

        | Togo                                         | TG           | 768     |

        | Tokelau                                      | TK           | 772     |

        | Tonga                                        | TO           | 776     |

        | Trinidad and Tobago                          | TT           | 780     |

        | Tunisia                                      | TN           | 788     |

        | Turkey                                       | TR           | 792     |

        | Turkmenistan                                 | TM           | 795     |

        | Tuvalu                                       | TV           | 798     |

        | Uganda                                       | UG           | 800     |

        | Ukraine                                      | UA           | 804     |

        | United Arab Emirates                         | AE           | 784     |

        | United Kingdom                               | GB           | 826     |

        | Uruguay                                      | UY           | 858     |

        | Uzbekistan                                   | UZ           | 860     |

        | Vanuatu                                      | VU           | 548     |

        | Venezuela, Bolivarian Republic of            | VE           | 862     |

        | Vietnam                                      | VN           | 704     |

        | Wallis and Futuna                            | WF           | 876     |

        | Western Sahara                               | EH           | 732     |

        | Yemen                                        | YE           | 886     |

        | Zambia                                       | ZM           | 894     |

        | Zimbabwe                                     | ZW           | 716     |


        </details>

        '
      externalDocs:
        description: Find more info here
        url: https://www.iso.org/iso-3166-country-codes.html
      example: NLD
    CardInfoRequestByProcessorToken:
      type: object
      title: Processor Token Key Input
      required:
      - processorTokenKey
      properties:
        processorTokenKey:
          type: string
          description: A [processor token key](#tag/Processor-Tokenization).
          pattern: ^ptk-[a-zA-Z0-9]+$
          minLength: 5
          maxLength: 120
          example: ptk-1e1dA2fgs1YTUhlhyPOp
        infoSource:
          $ref: '#/components/schemas/InfoSource'
    MastercardProductClass:
      properties:
        gcmsProductID:
          type: string
        licensedProductID:
          type: string
        licensedProductDescription:
          type: string
        productClassID:
          type: string
        productClassDescription:
          type: string
    VisaRegion:
      properties:
        code:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
        description:
          type: string
    MastercardSpecificCardInfo:
      description: Mastercard-specific Card Information.
      type: object
      properties:
        productType:
          $ref: '#/components/schemas/MastercardProductType'
        brandProducts:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MastercardCardBrandProduct'
        interchangeRegion:
          $ref: '#/components/schemas/MastercardInterchangeRegion'
        coBrandParticipation:
          type: boolean
        moneySendIndicator:
          type: string
        anonymousPrepaidIndicator:
          $ref: '#/components/schemas/MastercardAnonymousPrepaidIndicator'
        dccIndicator:
          type: string
          description: Cardholder Currency Indicator (IP0040T1 position 178). Indicates the card range's eligibility for Dynamic Currency Conversion (DCC) services.
    VisaAccountFundingSource:
      properties:
        code:
          type: string
          enum:
          - C
          - D
          - P
          - H
          - R
        description:
          type: string
    DinersSpecificCardInfo:
      type: object
      description: Diners specific Card info.
      properties:
        accountNumberLength:
          type: string
        issuerDxs:
          type: string
        product:
          type: object
          properties:
            productType:
              type: string
    schemas-ProblemDetail:
      type: object
      description: 'The ''problem detail'' object relays detailed information about the error that occurred. It is defined

        by [RFC 7807 - Problem Details for HTTP APIs](https://tools.ietf.org/html/rfc7807).


        Note that additional properties may be used to relay error specific information. For instance,

        A Bad Request error may hold information about the individual validation errors found in the request.

        '
      properties:
        type:
          type: string
          description: 'An absolute URI that identifies the problem type.

            '
          default: about:blank
          example: https://api.silverflow.co/problem/constraint-violation
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (usually not suited for non technical stakeholders and

            not localized);

            '
          example: Service Unavailable
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          minimum: 100
          maximum: 599
          example: 503
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: Connection to database timed out
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
      additionalProperties: true
      example:
        type: https://api.silverflow.co/problem/bad-request
        title: Bad Request
        status: 400
        detail: The request could not be processed as it contained an invalid request entity
        instance: https://api.silverflow.co/v1/merchants/mct-1hPdFqhgstYTUhlphPDp
        validationErrors:
        - The value of property 'status' should be one of 'idle', 'active' or 'archived'
        - The value of property 'tags.0.businessId' must not be longer than 255 characters
    AmericanExpressSpecificCardInfo:
      type: object
      description: American Express specific Card Info.
    CardInfoCardNetworkResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SingleSourceResponse'
    InfoSource:
      type: string
      enum:
      - american-express
      - bancontact
      - discover
      - diners
      - mastercard
      - visa
      description: 'The card network that should be the source of the information. If not provided, all sources will be checked!

        '
    VisaSpecificCardInfoBase:
      description: Visa-specific Card Information.
      type: object
      properties:
        accountNumberLength:
          description: Length of Account Numbers in this Card Range.
          type: number
        checkDigit:
          description: Indicates whether the Card Range Uses a Check Digit.
          type: boolean
        accountRangeRegion:
          $ref: '#/components/schemas/VisaRegion'
        domain:
          $ref: '#/components/schemas/VisaDomain'
        product:
          $ref: '#/components/schemas/VisaProduct'
        accountFundingSource:
          $ref: '#/components/schemas/VisaAccountFundingSource'
        visaDirectParticipation:
          $ref: '#/components/schemas/VisaDirectParticipation'
    DuplicatedBancontactCardInfo:
      allOf:
      - $ref: '#/components/schemas/BancontactSpecificCardInfo'
      - $ref: '#/components/schemas/CardInfoResponseBase'
    BancontactSpecificCardInfo:
      type: object
      description: Bancontact specific Card Info.
      properties:
        cardType:
          type: string
          enum:
          - Physical
          - Digital
    MastercardProductCategory:
      properties:
        code:
          type: string
          enum:
          - D
          - P
          - C
          - N
        description:
          type: string
    MastercardCardProgramIdentifier:
      properties:
        code:
          type: string
          enum:
          - CIR
          - DMC
          - MCC
          - MSI
          - PRO
          - PVL
          - VIS
        description:
          type: string
    components-schemas-countryCodeNumeric:
      type: string
      pattern: ^[0-9]{3}$
      description: 'The ISO code of the country.


        **European ISO Country Codes**


        <details>


        | Country                                          | Alpha-2 code | Numeric |

        | ------------------------------------------------ | ------------ | ------- | --- |

        | Åland Islands                                    | AX           | 248     |

        | Andorra                                          | AD           | 020     |

        | Austria                                          | AT           | 040     |

        | Belgium                                          | BE           | 056     |

        | Cyprus                                           | CY           | 196     |

        | Estonia                                          | EE           | 233     |     |

        | Finland                                          | FI           | 246     |

        | France                                           | FR           | 250     |

        | French Guiana                                    | GF           | 254     |

        | French Southern Territories                      | TF           | 260     |

        | Germany                                          | DE           | 280     |

        | Greece                                           | GR           | 300     |

        | Guadeloupe                                       | GP           | 312     |

        | Ireland                                          | IE           | 372     |

        | Italy                                            | IT           | 380     |

        | Kosovo, United Nations Mission in Kosovo (UNMIK) | QZ           | 900     |

        | Latvia                                           | LV           | 428     |

        | Lithuania                                        | LT           | 440     |

        | Luxembourg                                       | LU           | 442     |

        | Malta                                            | MT           | 470     |

        | Martinique                                       | MQ           | 474     |

        | Mayotte                                          | YT           | 175     |

        | Monaco                                           | MC           | 492     |

        | Montenegro                                       | ME           | 499     |

        | Netherlands                                      | NL           | 528     |

        | Portugal                                         | PT           | 620     |

        | Reunion                                          | RE           | 638     |

        | Saint Barthélemy                                 | BL           | 652     |

        | Saint Martin (French Part)                       | MF           | 663     |

        | San Marino                                       | SM           | 674     |

        | Slovakia                                         | SK           | 703     |

        | Slovenia                                         | SI           | 705     |

        | Spain                                            | ES           | 724     |

        | St. Pierre and Miquelon                          | PM           | 666     |

        | Vatican City State (Holy See)                    | VA           | 336     |


        </details>


        **US ISO Country Codes**


        <details>


        | Country                         | Alpha-2 code | Numeric |

        | ------------------------------- | ------------ | ------- |

        | American Samoa                  | AS           | 016     |

        | Bonaire, St. Eusasius and Saba  | BQ           | 535     |

        | British Indian Ocean Territory  | IO           | 086     |

        | Ecuador                         | EC           | 218     |

        | Guam                            | GU           | 316     |

        | Marshall Islands                | MH           | 584     |

        | Micronesia, Federated States of | FM           | 583     |

        | Northern Mariana Islands        | MP           | 580     |

        | Palau                           | PW           | 585     |

        | Palestine, State of             | PS           | 275     |

        | Puerto Rico                     | PR           | 630     |

        | Timor-Leste                     | TP           | 626     |

        | Turks and Caicos Islands        | TC           | 796     |

        | U.S. Minor Outlying Islands     | UM           | 581     |

        | United States                   | US           | 840     |

        | Virgin Islands, British         | VG           | 092     |

        | Virgin Islands, U.S.            | VI           | 850     |


        </details>


        **Other ISO Country Codes**


        <details>


        | Country                                      | Alpha-2 code | Numeric |

        | -------------------------------------------- | ------------ | ------- |

        | Afghanistan                                  | AF           | 004     |

        | Albania                                      | AL           | 008     |

        | Algeria                                      | DZ           | 012     |

        | Angola                                       | AO           | 024     |

        | Anguilla                                     | AI           | 660     |

        | Antarctica                                   | AQ           | 010     |

        | Antigua and Barbuda                          | AG           | 028     |

        | Argentina                                    | AR           | 032     |

        | Armenia                                      | AM           | 051     |

        | Aruba                                        | AW           | 533     |

        | Australia                                    | AU           | 036     |

        | Azerbaijan                                   | AZ           | 031     |

        | Bahamas                                      | BS           | 044     |

        | Bahrain                                      | BH           | 048     |

        | Bangladesh                                   | BD           | 050     |

        | Barbados                                     | BB           | 052     |

        | Belarus                                      | BR           | 112     |

        | Belize                                       | BZ           | 084     |

        | Benin                                        | BJ           | 204     |

        | Bermuda                                      | BM           | 060     |

        | Bhutan                                       | BT           | 064     |

        | Bolivia, Plurinational State of              | BO           | 068     |

        | Bosnia and Herzegovina                       | BA           | 070     |

        | Botswana                                     | BW           | 072     |

        | Bouvet Island                                | BV           | 074     |

        | Brazil                                       | BR           | 076     |

        | Brunei Darussalam                            | BN           | 096     |

        | Bulgaria                                     | BG           | 100     |

        | Burkina Faso                                 | BF           | 854     |

        | Burundi                                      | BI           | 108     |

        | Cambodia                                     | KH           | 116     |

        | Cameroon                                     | CM           | 120     |

        | Canada                                       | CA           | 124     |

        | Cape Verde                                   | CV           | 132     |

        | Cayman Islands                               | KY           | 136     |

        | Central African Republic                     | CF           | 140     |

        | Chad                                         | TD           | 148     |

        | Chile                                        | CL           | 152     |

        | China                                        | CN           | 156     |

        | Christmas Island                             | CX           | 162     |

        | Cocos (Keeling) Islands                      | CC           | 166     |

        | Colombia                                     | CO           | 170     |

        | Comoros                                      | KM           | 174     |

        | Congo                                        | CG           | 178     |

        | Cook Islands                                 | CK           | 184     |

        | Costa Rica                                   | CR           | 188     |

        | Côte D''Ivoire                                | CI           | 384     |

        | Croatia                                      | HR           | 191     |

        | Cuba                                         | CU           | 192     |

        | Curacao                                      | CW           | 531     |

        | Czech Republic                               | CZ           | 203     |

        | Democratic Republic of the Congo             | CD           | 180     |

        | Denmark                                      | DK           | 208     |

        | Djibouti                                     | DJ           | 262     |

        | Dominica                                     | DM           | 212     |

        | Dominican Republic                           | DO           | 214     |

        | Egypt                                        | EG           | 818     |

        | El Salvador                                  | SV           | 222     |

        | Equatorial Guinea                            | GQ           | 226     |

        | Eritrea                                      | ER           | 232     |

        | Ethiopia                                     | ET           | 230     |

        | Falkland Islands (Malvinas)                  | FK           | 238     |

        | Faroe Islands                                | FO           | 234     |

        | Fiji                                         | FJ           | 242     |

        | French Polynesia                             | PF           | 258     |

        | Gabon                                        | GA           | 266     |

        | Gambia                                       | GM           | 270     |

        | Georgia                                      | GE           | 268     |

        | Ghana                                        | GH           | 288     |

        | Gibraltar                                    | GI           | 292     |

        | Greenland                                    | GL           | 304     |

        | Grenada                                      | GD           | 308     |

        | Guatemala                                    | GT           | 320     |

        | Guernsey                                     | GG           | 831     |

        | Guinea                                       | GN           | 324     |

        | Guinea-Bissau                                | GW           | 624     |

        | Guyana                                       | GY           | 328     |

        | Haiti                                        | HT           | 332     |

        | Heard and McDonald Islands                   | HM           | 334     |

        | Honduras                                     | HN           | 340     |

        | Hong Kong                                    | HK           | 344     |

        | Hungary                                      | HU           | 348     |

        | Iceland                                      | IS           | 352     |

        | India                                        | IN           | 356     |

        | Indonesia                                    | ID           | 360     |

        | Iraq                                         | IQ           | 368     |

        | Isle of Man                                  | IM           | 833     |

        | Israel                                       | IL           | 376     |

        | Jamaica                                      | JM           | 388     |

        | Japan                                        | JP           | 392     |

        | Jersey                                       | JE           | 832     |

        | Jordan                                       | JO           | 400     |

        | Kazakhstan                                   | KZ           | 398     |

        | Kenya                                        | KE           | 404     |

        | Kiribati                                     | KI           | 296     |

        | Korea, Republic of                           | KR           | 410     |

        | Kuwait                                       | KW           | 414     |

        | Kyrgyzstan                                   | KG           | 417     |

        | Lao People''s Democratic Republic             | LA           | 418     |

        | Lebanon                                      | LB           | 422     |

        | Lesotho                                      | LS           | 426     |

        | Liberia                                      | LR           | 430     |

        | Libyan Arab Jamahiriya                       | LY           | 434     |

        | Liechtenstein                                | LI           | 438     |

        | Macao                                        | MO           | 446     |

        | Macedonia                                    | MK           | 807     |

        | Madagascar                                   | MG           | 450     |

        | Malawi                                       | MW           | 454     |

        | Malaysia                                     | MY           | 458     |

        | Maldives                                     | MV           | 462     |

        | Mali                                         | ML           | 466     |

        | Mauritania                                   | MR           | 478     |

        | Mauritius                                    | MU           | 480     |

        | Mexico                                       | MX           | 484     |

        | Moldova, Republic of                         | MD           | 498     |

        | Mongolia                                     | MN           | 496     |

        | Montserrat                                   | MS           | 500     |

        | Morocco                                      | MA           | 504     |

        | Mozambique                                   | MZ           | 508     |

        | Myanmar (effective 1 November 2012)          | MM           | 104     |

        | Namibia                                      | NA           | 516     |

        | Nauru                                        | NR           | 520     |

        | Nepal                                        | NP           | 524     |

        | Netherlands Antilles                         | AN           | 530     |

        | New Caledonia                                | NC           | 540     |

        | New Zealand                                  | NZ           | 554     |

        | Nicaragua                                    | NI           | 558     |

        | Niger                                        | NE           | 562     |

        | Nigeria                                      | NG           | 566     |

        | Niue                                         | NU           | 570     |

        | Norfolk Island                               | NF           | 574     |

        | Norway                                       | NO           | 578     |

        | Oman                                         | OM           | 512     |

        | Pakistan                                     | PK           | 586     |

        | Panama                                       | PA           | 591     |

        | Papua New Guinea                             | PG           | 598     |

        | Paraguay                                     | PY           | 600     |

        | Peru                                         | PE           | 604     |

        | Philippines                                  | PH           | 608     |

        | Pitcairn                                     | PN           | 612     |

        | Poland                                       | PL           | 616     |

        | Qatar                                        | QA           | 634     |

        | Republic of South Sudan                      | SS           | 728     |

        | Romania                                      | RO           | 642     |

        | Russian Federation                           | RU           | 643     |

        | Rwanda                                       | RW           | 646     |

        | Samoa                                        | WS           | 882     |

        | Sao Tome and Principe                        | ST           | 678     |

        | Saudi Arabia                                 | SA           | 682     |

        | Senegal                                      | SN           | 686     |

        | Serbia                                       | RS           | 688     |

        | Seychelles                                   | SC           | 690     |

        | Sierra Leone                                 | SL           | 694     |

        | Singapore                                    | SG           | 702     |

        | Sint Maarten (Dutch Part)                    | SX           | 534     |

        | Solomon Islands                              | SB           | 090     |

        | Somalia                                      | SO           | 706     |

        | South Africa                                 | ZA           | 710     |

        | South Georgia and the South Sandwich Islands | GS           | 239     |

        | Sri Lanka                                    | LK           | 144     |

        | Saint Helena, Ascension and Tristan Da Cunha | SH           | 654     |

        | St. Kitts and Nevis                          | KN           | 659     |

        | St. Lucia                                    | LC           | 662     |

        | St. Vincent and the Grenadines               | VC           | 670     |

        | Suriname                                     | SR           | 740     |

        | Svalbard and Jan Mayen                       | SJ           | 744     |

        | Swaziland                                    | SZ           | 748     |

        | Sweden                                       | SE           | 752     |

        | Switzerland                                  | CH           | 756     |

        | Taiwan                                       | TW           | 158     |

        | Tajikistan                                   | TJ           | 762     |

        | Tanzania, United Republic of                 | TZ           | 834     |

        | Thailand                                     | TH           | 764     |

        | Togo                                         | TG           | 768     |

        | Tokelau                                      | TK           | 772     |

        | Tonga                                        | TO           | 776     |

        | Trinidad and Tobago                          | TT           | 780     |

        | Tunisia                                      | TN           | 788     |

        | Turkey                                       | TR           | 792     |

        | Turkmenistan                                 | TM           | 795     |

        | Tuvalu                                       | TV           | 798     |

        | Uganda                                       | UG           | 800     |

        | Ukraine                                      | UA           | 804     |

        | United Arab Emirates                         | AE           | 784     |

        | United Kingdom                               | GB           | 826     |

        | Uruguay                                      | UY           | 858     |

        | Uzbekistan                                   | UZ           | 860     |

        | Vanuatu                                      | VU           | 548     |

        | Venezuela, Bolivarian Republic of            | VE           | 862     |

        | Vietnam                                      | VN           | 704     |

        | Wallis and Futuna                            | WF           | 876     |

        | Western Sahara                               | EH           | 732     |

        | Yemen                                        | YE           | 886     |

        | Zambia                                       | ZM           | 894     |

        | Zimbabwe                                     | ZW           | 716     |


        </details>

        '
      externalDocs:
        description: Find more info here
        url: https://www.iso.org/iso-3166-country-codes.html
      example: '528'
    CardInfoRequestByCard:
      type: object
      title: Card Input
      required:
      - cardNumber
      properties:
        cardNumber:
          description: Full digits of a card. It is possible to replace a number of the trailing digits with zeroes ("0").
          $ref: '#/components/schemas/components-schemas-pan'
        infoSource:
          $ref: '#/components/schemas/InfoSource'
    MultiSourceResponse:
      allOf:
      - $ref: '#/components/schemas/CardInfoResponseBase'
      - type: object
        required:
        - primaryCardNetwork
        - infoSource
        properties:
          primaryCardNetwork:
            description: The primary card network issuing this card range.
            type: string
            enum:
            - mastercard
            - visa
            - bancontact
            - unknown
          infoSource:
            type: string
            enum:
            - mastercard
            - visa
            - bancontact
            description: The source of the provided information.
          mastercardCardInfo:
            description: Mastercard-specific Card Info.
            $ref: '#/components/schemas/DuplicatedMastercardCardInfo'
          visaCardInfo:
            description: Visa-specific Card Info.
            $ref: '#/components/schemas/DuplicatedVisaCardInfo'
          bancontactCardInfo:
            description: Bancontact-specific Card Info.
            $ref: '#/components/schemas/DuplicatedBancontactCardInfo'
    MastercardBrandProduct:
      properties:
        productClass:
          $ref: '#/components/schemas/MastercardProductClass'
        productCategory:
          $ref: '#/components/schemas/MastercardProductCategory'
    components-schemas-CountryCode:
      type: object
      required:
      - alpha2
      - alpha3
      - numeric
      description: 'Card country value in different standards.

        '
      properties:
        alpha3:
          $ref: '#/components/schemas/components-schemas-countryCodeAlpha3'
        alpha2:
          $ref: '#/components/schemas/components-schemas-countryCodeAlpha2'
        numeric:
          $ref: '#/components/schemas/components-schemas-countryCodeNumeric'
    DuplicatedMastercardCardInfo:
      description: Mastercard-specific Card Information.
      allOf:
      - $ref: '#/components/schemas/MastercardSpecificCardInfo'
      - $ref: '#/components/schemas/CardInfoResponseBase'
    cardNetworkMember:
      type: object
      description: A principal member of a card network.
      required:
      - id
      - name
      - countryCode
      properties:
        id:
          type: string
          description: Identifying code of the member assigned by the card network
        name:
          type: string
          description: Human-readable name of the member.
        countryCode:
          $ref: '#/components/schemas/components-schemas-CountryCode'
    SingleSourceResponse:
      allOf:
      - $ref: '#/components/schemas/CardInfoResponseBase'
      - type: object
        required:
        - primaryCardNetwork
        - infoSource
        properties:
          primaryCardNetwork:
            description: The primary card network issuing this card range.
            type: string
            enum:
            - mastercard
            - visa
            - bancontact
            - american-express
            - discover
            - diners
            - jcb
            - union-pay
            - paypal
            - unknown
          infoSource:
            $ref: '#/components/schemas/InfoSource'
            description: The source of the provided information.
          mastercardCardInfo:
            $ref: '#/components/schemas/MastercardSpecificCardInfo'
          visaCardInfo:
            $ref: '#/components/schemas/VisaSpecificCardInfo'
          bancontactCardInfo:
            $ref: '#/components/schemas/BancontactSpecificCardInfo'
          americanExpressCardInfo:
            $ref: '#/components/schemas/AmericanExpressSpecificCardInfo'
          discoverCardInfo:
            $ref: '#/components/schemas/DiscoverSpecificCardInfo'
          dinersCardInfo:
            $ref: '#/components/schemas/DinersSpecificCardInfo'
    VisaSpecificMemberDuplicatedResponse:
      description: Visa-specific member properties.
      allOf:
      - $ref: '#/components/schemas/VisaSpecificMemberSingleResponse'
      - $ref: '#/components/schemas/cardNetworkMember'
    CardCountry:
      type: object
      required:
      - code
      - isInEEA
      properties:
        code:
          $ref: '#/components/schemas/components-schemas-CountryCode'
        isInEEA:
          description: Indicates whether the Card Country is part of the European Economic Area
          type: boolean
    isTokenRange:
      type: boolean
    MastercardInterchangeRegion:
      properties:
        code:
          type: string
          enum:
          - '1'
          - A
          - B
          - C
          - D
          - E
        description:
          type: string
    MastercardProductType:
      properties:
        code:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
        description:
          type: string
    cardInfoCurrencyCode:
      type: string
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNH
      - CNY
      - COP
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - UYU
      - UYW
      - UZS
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWG
      - ZWL
      - XXX
      description: 'The three-letter ISO code of the currency.

        When the currency is not known, the placeholder value `XXX` is used.


        **European ISO Currency Codes**


        <details>


        | Country — Currency                       | Code | Numeric | Minor Units |

        | ---------------------------------------- | ---- | ------- | ----------- |

        | Åland Islands — Euro                     | EUR  | 978     | 2           |

        | Andorra — Euro                           | EUR  | 978     | 2           |

        | Austria — Euro                           | EUR  | 978     | 2           |

        | Belgium — Euro                           | EUR  | 978     | 2           |

        | Cyprus — Euro                            | EUR  | 978     | 2           |

        | Estonia — Euro                           | EUR  | 978     | 2           |

        | European Union — Euro                    | EUR  | 978     | 2           |

        | Finland — Euro                           | EUR  | 978     | 2           |

        | France — Euro                            | EUR  | 978     | 2           |

        | French Guiana — Euro                     | EUR  | 978     | 2           |

        | French Southern Territories (The) — Euro | EUR  | 978     | 2           |

        | Germany — Euro                           | EUR  | 978     | 2           |

        | Greece — Euro                            | EUR  | 978     | 2           |

        | Guadeloupe — Euro                        | EUR  | 978     | 2           |

        | Holy See (The) — Euro                    | EUR  | 978     | 2           |

        | Ireland — Euro                           | EUR  | 978     | 2           |

        | Italy — Euro                             | EUR  | 978     | 2           |

        | Latvia — Euro                            | EUR  | 978     | 2           |

        | Lithuania — Euro                         | EUR  | 978     | 2           |

        | Luxembourg — Euro                        | EUR  | 978     | 2           |

        | Malta — Euro                             | EUR  | 978     | 2           |

        | Martinique — Euro                        | EUR  | 978     | 2           |

        | Mayotte — Euro                           | EUR  | 978     | 2           |

        | Monaco — Euro                            | EUR  | 978     | 2           |

        | Montenegro — Euro                        | EUR  | 978     | 2           |

        | Netherlands (The) — Euro                 | EUR  | 978     | 2           |

        | Portugal — Euro                          | EUR  | 978     | 2           |

        | Réunion — Euro                           | EUR  | 978     | 2           |

        | Saint Barthélemy — Euro                  | EUR  | 978     | 2           |

        | Saint Martin (French Part) — Euro        | EUR  | 978     | 2           |

        | Saint Pierre And Miquelon — Euro         | EUR  | 978     | 2           |

        | San Marino — Euro                        | EUR  | 978     | 2           |

        | Slovakia — Euro                          | EUR  | 978     | 2           |

        | Slovenia — Euro                          | EUR  | 978     | 2           |

        | Spain — Euro                             | EUR  | 978     | 2           |


        </details>


        **US ISO Currency Codes**


        <details>


        | Country — Currency                                     | Code | Numeric | Minor Units |

        | ------------------------------------------------------ | ---- | ------- | ----------- |

        | American Samoa — US Dollar                             | USD  | 840     | 2           |

        | Bonaire, Sint Eustatius And Saba — US Dollar           | USD  | 840     | 2           |

        | British Indian Ocean Territory (The) — US Dollar       | USD  | 840     | 2           |

        | Ecuador — US Dollar                                    | USD  | 840     | 2           |

        | El Salvador — US Dollar                                | USD  | 840     | 2           |

        | Guam — US Dollar                                       | USD  | 840     | 2           |

        | Haiti — US Dollar                                      | USD  | 840     | 2           |

        | Marshall Islands (The) — US Dollar                     | USD  | 840     | 2           |

        | Micronesia (Federated States Of) — US Dollar           | USD  | 840     | 2           |

        | Northern Mariana Islands (The) — US Dollar             | USD  | 840     | 2           |

        | Palau — US Dollar                                      | USD  | 840     | 2           |

        | Panama — US Dollar                                     | USD  | 840     | 2           |

        | Puerto Rico — US Dollar                                | USD  | 840     | 2           |

        | Timor-leste — US Dollar                                | USD  | 840     | 2           |

        | Turks And Caicos Islands (The) — US Dollar             | USD  | 840     | 2           |

        | United States Minor Outlying Islands (The) — US Dollar | USD  | 840     | 2           |

        | United States Of America (The) — US Dollar             | USD  | 840     | 2           |

        | Virgin Islands (British) — US Dollar                   | USD  | 840     | 2           |

        | Virgin Islands (U.s.) — US Dollar                      | USD  | 840     | 2           |


        </details>


        **Other ISO Currency Codes**


        <details>


        | Country — Currency                                                          | Code | Numeric | Minor Units |

        | --------------------------------------------------------------------------- | ---- | ------- | ----------- |

        | Afghanistan — Afghani                                                       | AFN  | 971     | 2           |

        | Albania — Lek                                                               | ALL  | 008     | 2           |

        | Algeria — Algerian Dinar                                                    | DZD  | 012     | 2           |

        | Angola — Kwanza                                                             | AOA  | 973     | 2           |

        | Anguilla — East Caribbean Dollar                                            | XCD  | 951     | 2           |

        | Antigua And Barbuda — East Caribbean Dollar                                 | XCD  | 951     | 2           |

        | Argentina — Argentine Peso                                                  | ARS  | 032     | 2           |

        | Armenia — Armenian Dram                                                     | AMD  | 051     | 2           |

        | Aruba — Aruban Florin                                                       | AWG  | 533     | 2           |

        | Australia — Australian Dollar                                               | AUD  | 036     | 2           |

        | Azerbaijan — Azerbaijan Manat                                               | AZN  | 944     | 2           |

        | Bahamas (The) — Bahamian Dollar                                             | BSD  | 044     | 2           |

        | Bahrain — Bahraini Dinar                                                    | BHD  | 048     | 3           |

        | Bangladesh — Taka                                                           | BDT  | 050     | 2           |

        | Barbados — Barbados Dollar                                                  | BBD  | 052     | 2           |

        | Belarus — Belarusian Ruble                                                  | BYN  | 933     | 2           |

        | Belize — Belize Dollar                                                      | BZD  | 084     | 2           |

        | Benin — CFA Franc BCEAO                                                     | XOF  | 952     | 0           |

        | Bermuda — Bermudian Dollar                                                  | BMD  | 060     | 2           |

        | Bhutan — Indian Rupee                                                       | INR  | 356     | 2           |

        | Bhutan — Ngultrum                                                           | BTN  | 064     | 2           |

        | Bolivia (Plurinational State Of) — Boliviano                                | BOB  | 068     | 2           |

        | Bosnia And Herzegovina — Convertible Mark                                   | BAM  | 977     | 2           |

        | Botswana — Pula                                                             | BWP  | 072     | 2           |

        | Bouvet Island — Norwegian Krone                                             | NOK  | 578     | 2           |

        | Brazil — Brazilian Real                                                     | BRL  | 986     | 2           |

        | Brunei Darussalam — Brunei Dollar                                           | BND  | 096     | 2           |

        | Bulgaria — Bulgarian Lev                                                    | BGN  | 975     | 2           |

        | Burkina Faso — CFA Franc BCEAO                                              | XOF  | 952     | 0           |

        | Burundi — Burundi Franc                                                     | BIF  | 108     | 0           |

        | Cabo Verde — Cabo Verde Escudo                                              | CVE  | 132     | 2           |

        | Cambodia — Riel                                                             | KHR  | 116     | 2           |

        | Cameroon — CFA Franc BEAC                                                   | XAF  | 950     | 0           |

        | Canada — Canadian Dollar                                                    | CAD  | 124     | 2           |

        | Cayman Islands (The) — Cayman Islands Dollar                                | KYD  | 136     | 2           |

        | Central African Republic (The) — CFA Franc BEAC                             | XAF  | 950     | 0           |

        | Chad — CFA Franc BEAC                                                       | XAF  | 950     | 0           |

        | Chile — Chilean Peso                                                        | CLP  | 152     | 0           |

        | China — Yuan Renminbi                                                       | CNY  | 156     | 2           |

        | China - Hong Kong Renminbi                                                  | CNH  | -       | 2           |

        | Christmas Island — Australian Dollar                                        | AUD  | 036     | 2           |

        | Cocos (Keeling) Islands (The) — Australian Dollar                           | AUD  | 036     | 2           |

        | Colombia — Colombian Peso                                                   | COP  | 170     | 2           |

        | Comoros (The) — Comorian Franc                                              | KMF  | 174     | 0           |

        | Congo (The Democratic Republic Of The) — Congolese Franc                    | CDF  | 976     | 2           |

        | Congo (The) — CFA Franc BEAC                                                | XAF  | 950     | 0           |

        | Cook Islands (The) — New Zealand Dollar                                     | NZD  | 554     | 2           |

        | Costa Rica — Costa Rican Colon                                              | CRC  | 188     | 2           |

        | Côte D''ivoire — CFA Franc BCEAO                                             | XOF  | 952     | 0           |

        | Croatia — Kuna                                                              | HRK  | 191     | 2           |

        | Cuba — Cuban Peso                                                           | CUP  | 192     | 2           |

        | Cuba — Peso Convertible                                                     | CUC  | 931     | 2           |

        | Curaçao — Netherlands Antillean Guilder                                     | ANG  | 532     | 2           |

        | Czechia — Czech Koruna                                                      | CZK  | 203     | 2           |

        | Denmark — Danish Krone                                                      | DKK  | 208     | 2           |

        | Djibouti — Djibouti Franc                                                   | DJF  | 262     | 0           |

        | Dominica — East Caribbean Dollar                                            | XCD  | 951     | 2           |

        | Dominican Republic (The) — Dominican Peso                                   | DOP  | 214     | 2           |

        | Egypt — Egyptian Pound                                                      | EGP  | 818     | 2           |

        | El Salvador — El Salvador Colon                                             | SVC  | 222     | 2           |

        | Equatorial Guinea — CFA Franc BEAC                                          | XAF  | 950     | 0           |

        | Eritrea — Nakfa                                                             | ERN  | 232     | 2           |

        | Ethiopia — Ethiopian Birr                                                   | ETB  | 230     | 2           |

        | Falkland Islands (The) [Malvinas] — Falkland Islands Pound                  | FKP  | 238     | 2           |

        | Faroe Islands (The) — Danish Krone                                          | DKK  | 208     | 2           |

        | Fiji — Fiji Dollar                                                          | FJD  | 242     | 2           |

        | French Polynesia — CFP Franc                                                | XPF  | 953     | 0           |

        | Gabon — CFA Franc BEAC                                                      | XAF  | 950     | 0           |

        | Gambia (The) — Dalasi                                                       | GMD  | 270     | 2           |

        | Georgia — Lari                                                              | GEL  | 981     | 2           |

        | Ghana — Ghana Cedi                                                          | GHS  | 936     | 2           |

        | Gibraltar — Gibraltar Pound                                                 | GIP  | 292     | 2           |

        | Greenland — Danish Krone                                                    | DKK  | 208     | 2           |

        | Grenada — East Caribbean Dollar                                             | XCD  | 951     | 2           |

        | Guatemala — Quetzal                                                         | GTQ  | 320     | 2           |

        | Guernsey — Pound Sterling                                                   | GBP  | 826     | 2           |

        | Guinea — Guinean Franc                                                      | GNF  | 324     | 0           |

        | Guinea-bissau — CFA Franc BCEAO                                             | XOF  | 952     | 0           |

        | Guyana — Guyana Dollar                                                      | GYD  | 328     | 2           |

        | Haiti — Gourde                                                              | HTG  | 332     | 2           |

        | Heard Island And Mcdonald Islands — Australian Dollar                       | AUD  | 036     | 2           |

        | Honduras — Lempira                                                          | HNL  | 340     | 2           |

        | Hong Kong — Hong Kong Dollar                                                | HKD  | 344     | 2           |

        | Hungary — Forint                                                            | HUF  | 348     | 2           |

        | Iceland — Iceland Krona                                                     | ISK  | 352     | 0           |

        | India — Indian Rupee                                                        | INR  | 356     | 2           |

        | Indonesia — Rupiah                                                          | IDR  | 360     | 2           |

        | Iran (Islamic Republic Of) — Iranian Rial                                   | IRR  | 364     | 2           |

        | Iraq — Iraqi Dinar                                                          | IQD  | 368     | 3           |

        | Isle Of Man — Pound Sterling                                                | GBP  | 826     | 2           |

        | Israel — New Israeli Sheqel                                                 | ILS  | 376     | 2           |

        | Jamaica — Jamaican Dollar                                                   | JMD  | 388     | 2           |

        | Japan — Yen                                                                 | JPY  | 392     | 0           |

        | Jersey — Pound Sterling                                                     | GBP  | 826     | 2           |

        | Jordan — Jordanian Dinar                                                    | JOD  | 400     | 3           |

        | Kazakhstan — Tenge                                                          | KZT  | 398     | 2           |

        | Kenya — Kenyan Shilling                                                     | KES  | 404     | 2           |

[...]
